{% set text = text|default('') %}
{% set additionalText = additionalText|default('') %}
{% set tooltip = tooltip|default('') %}
{% set required = required|default(false) %}
{% set attrs = attrs|default({}) %}
{% set attrFor = attrs.for|default('') %}

<label class="form-label" {% if attrFor %}for="{{ attrFor }}"{% endif %}>
    {{ text }}
    {% if additionalText %}<small>({{ additionalText }})</small>{% endif %}
    {% if tooltip %}
        <span class="tooltip-icon" tabindex="0" data-plugin="tooltip" data-tooltip-placement="right" title="{{ tooltip }}">?</span>
    {% endif %}
</label>