{% set name = name|default('') %}
{% set value = value|default('') %}
{% set required = required|default(false) %}
{% set disabled = disabled|default(false) %}
{% set readonly = readonly|default(false) %}
{% set id = id|default('input-' ~ random()) %}

<div class="form-control form-control--richtexteditor">
    <textarea
        id="{{ id }}"
        name="{{ name }}"
        {% if required %}required{% endif %}
        {% if disabled %}disabled{% endif %}
        {% if readonly %}readonly{% endif %}
        {% if maxlength %}maxlength="{{ maxlength }}"{% endif %} 
        data-plugin="richtexteditor"
        data-richtexteditor='{{ {
            body_class: "text",
            content_css: [
                "/assets/stylesheets/example-page-visual-editor.css"
            ],
            formats: {
            },
            style_formats: [
                {title: "Square bullets", selector: "ol",classes: "list-separated"},
                {title: "Gray text", inline: "span", classes: "text--color-small"},

                {title: "Table layout", selector: "table", classes: "table-layout"},

                {title: "Image title", selector: "img+p, figure+p",classes:"image-caption"},
                {title: "Image description", selector: "img+.image-caption+p, figure+.image-caption+p",classes: "image-description"},
                {title: "Image full text width", selector: "figure, img", classes: "image-full-text"},
                {title: "Image full page width", selector: "figure, img", classes: "image-full-page"},

                {title: "Icon", "items": [
                    {title: "Icon fund opportunity", selector: "h1, h2, h3, h4", classes: "text-icon-fund-opportunity"},
                    {title: "Icon fund value", selector: "h1, h2, h3, h4", classes: "text-icon-fund-value"},
                    {title: "Icon fund core", selector: "h1, h2, h3, h4", classes: "text-icon-fund-core"},
                    {title: "Icon fund core+", selector: "h1, h2, h3, h4", classes: "text-icon-fund-core-plus"}
                ]}
            ]
        }|json_encode }}'

    >
        {{- value -}}
    </textarea>
</div>