{% extends 'layouts/base.twig' %}

{% set languages = [
    {'id': 'ru', 'text': 'Ru'},
    {'id': 'en', 'text': 'En'}
] %}

{% set breadcrumbs = [
    {
        'icon': 'nav-grid',
        'text': 'Main page',
        'url': '/'
    },
    {
        'text': 'Academy',
        'url': '/crud-list.html'
    },
    {
        'text': 'Articles',
        'url': '/crud-list.html'
    },
    {
        'text': 'Виды коммерческой недвижимости: сектора, типы и форматы'
    }
] %}

{% set headerCrudList = [
    {
        'text': 'Articles',
        'url': 'article-edit.html',
        'active': true
    },
    {
        'text': 'Categories',
        'url': 'crud-list.html',
        'active': false
    }
] %}


{% block content %}

    <form class="container container-h container-v"
        data-plugin="tabs"
        data-tabs-animate="false"
        data-tabs-input-selector='input[name="language"]'
        method="POST"
        action=""
    >
        <div class="row row--pad">
            <div class="col col--xs-9">
                {% include 'partials/article-edit/content.twig' %}
            </div>
            <div class="col col--xs-3">
                {% include 'partials/article-edit/sidebar.twig' %}
            </div>
        </div>
    </form>

{% endblock %}
