{% extends 'layouts/base.twig' %}

{% set breadcrumbs = [
    {
        'icon': 'nav-grid',
        'text': 'Main page',
        'url': '/'
    },
    {
        'text': 'Company',
        'url': '/crud-list.html'
    },
    {
        'text': 'Stuff'
    }
] %}

{% set headerCrudList = [
    {
        'text': 'Page Content',
        'url': 'page-content.html',
        'active': false
    },
    {
        'text': 'Staff',
        'url': 'crud-list.html',
        'active': true
    },
    {
        'text': 'Categories',
        'url': 'crud-list.html',
        'active': false
    }
] %}


{% block content %}

    <div class="container container-h container-v">
        <div class="row row--pad">
            <aside class="col col--xs-2 ui-gray">
                {% include 'partials/crud-list/sidebar.twig' %}
            </aside>
            <div class="col col--xs-10">
                {% include 'partials/crud-list/content.twig' %}
            </div>
        </div>
    </div>

{% endblock %}
