{% extends 'layouts/base.twig' %}


{% block content %}

    <div class="container container-h container-v">
        <a role="button" tabindex="0" data-plugin="ajaxModalTrigger" href="media-modal.html" class="link-heading">Open media library modal</a>
        or use "Media" button in the page header.
    </div>
    
{% endblock %}