{% extends 'layouts/base.twig' %}


{% block content %}

    <form class="container">
        <div class="row row-pad">
            <div class="col-9">
                {% include 'partials/page-content/content.twig' %}
            </div>
            <div class="col-9">
                {% include 'partials/page-content/sidebar.twig' %}
            </div>
        </div>
    </form>

{% endblock %}
