{% extends 'layouts/base.twig' %}


{% block title %}Page list{% endblock %}

{% block body %}

    <div class="container container-h container-v text">
        <h1>Pages</h1>
        <ol class="mt-5">
            <li><a href="/article-edit.html">Article Edit</a></li>
            <li><a href="/page-content.html">Page Content</a></li>
            <li><a href="/crud-list.html">Staff List</a></li>
        </ol>

        <h1>Examples</h1>
        <ol>
            {# <li><a href="/examples/example-reveal.html">Reveal animation example</a></li> #}
            {# <li><a href="/examples/example-form.html">Form example</a></li> #}
            {# <li><a href="/examples/example-multi-part-form.html">Multi-part form example</a></li> #}
            <li><a href="/examples/grid.html">Grid example</a></li>
            <li><a href="/examples/spacings.html">Spacings example</a></li>
            <li><a href="/examples/table.html">Table example</a></li>
            <li><a href="/examples/themes.html">Theme example</a></li>
            {# <li><a href="/examples/example-text.html">Text example</a></li> #}
            {# <li><a href="/examples/example-mobile-table.html">Mobile table example</a></li> #}
            {# <li><a href="/examples/example-buttons.html">Buttons example</a></li> #}
            {# <li><a href="/examples/example-images.html">Images example</a></li> #}
            {# <li><a href="/examples/example-accordion.html">Accordion example</a></li> #}
            {# <li><a href="/examples/example-accordion-with-scroll.html">Accordion with auto scroll example</a></li> #}
            {# <li><a href="/examples/example-tabs.html">Tabs example</a></li> #}
            {# <li><a href="/examples/example-modal.html">Modal example</a></li> #}
            {# <li><a href="/examples/example-ajaxlist.html">AjaxList example</a></li> #}
            {# <li><a href="/examples/example-client-side-templates.html">Client-side template example</a></li> #}
            {# <li><a href="/examples/example-carousel.html">Carousel example</a></li> #}
            {# <li><a href="/examples/example-map.html">Google Map example</a></li> #}
        </ol>
    </div>

{% endblock %}
