{% extends 'layouts/base.twig' %}

{% set languages = [
    {'id': 'ru', 'text': 'Ru'},
    {'id': 'en', 'text': 'En'}
] %}

{% block content %}

    <form class="container container-h container-v"
        data-plugin="tabs"
        data-tabs-animate="false"
        data-tabs-input-selector='input[name="language"]'
        method="POST"
        action=""
    >
        <div class="row row--pad">
            <div class="col col--xs-9">
                {% include 'partials/page-content/content.twig' %}
            </div>
            <div class="col col--xs-3">
                {% include 'partials/page-content/sidebar.twig' %}
            </div>
        </div>
    </form>

{% endblock %}
