{% from 'macros/icon.twig' import icon %}

{# Add section dropdown #}
<button type="button" class="btn btn--tetriary btn--pill">
    <span class="btn__content">
        {{ icon('add-small', {width: 10, height: 10}) }}
        <span>Add Asset</span>
    </span>
</button>
