{% set namePrefix = namePrefix|default('') %}
{% set sectionId = sectionId|default('section-' ~ random()) %}
{% set assetsValues = values|default({}) %}

<div class="card accordion accordion--expanded js-sortable-list-item"
    data-plugin="accordion"
    data-accordion-active-heading-parent-class-name="ui-dark"
>
    {% include 'partials/section-header.twig' with {
        'title': 'Assets',
        'id': sectionId,
        
        'draggable': true,

        'withDeleteOption': false,

        'withActiveToggle': true,
        'active': true,

        'withAccordion': true,
        'accordionExpandedClassName': 'ui-dark',
        'expanded': true,
    } %}

    <div role="region" aria-labelledby="{{ sectionId }}Title" id="{{ sectionId }}" aria-hidden="false" class="accordion__content card__content"
        {# Add sorting #}
        data-plugin="sortableList"
    >

        {# Content for Article Content #}
        <div class="card__body">
            
            <div class="tabs-contents">
                {% for languageItem in languages %}
                    {% set language = languageItem.id %}
                    {% set sectionNamePrefix = namePrefix ~ '[translations][' ~ language ~ ']' %}

                    <div class="tabs-contents__content" {% if not loop.first %}aria-hidden="true"{% endif %} data-tabs-content-id="{{ languageItem.id }}">
                        {% include 'partials/page-content-modal/section-asset-main.twig' with {
                            'namePrefix': sectionNamePrefix,
                            'sectionId': null,
                            'values': assetsValues[language]|default({})
                        } %}
                    </div>
                {% endfor %}
            </div>

        </div>

        {# Language tabs, duplicate for each content, in the real app this won't be a copy #}
        <div class="tabs-contents">
            {% for languageItem in languages %}
                {% set language = languageItem.id %}
                {% set sectionNamePrefix = namePrefix ~ '[translations][' ~ language ~ '][assets]' %}

                {# Locale tab content #}
                <div class="tabs-contents__content" {% if not loop.first %}aria-hidden="true"{% endif %} data-tabs-content-id="{{ languageItem.id }}">
                    <div class="card__body card-list card-list--small js-sortable-list-list">

                        {# Asset content sections #}
                        {% set assetsValue = assetsValues[language].assets|default([]) %}
                        {% for assetsItem in assetsValue %}
                            {% set order = loop.index0 %}

                            {% include 'partials/page-content-modal/section-asset-content.twig' with {
                                'namePrefix': sectionNamePrefix ~ '[' ~ order ~']',
                                'sectionId': null,
                                'values': {'order': order}|merge(assetsItem)
                            } %}
                        {% endfor %}
                    
                    </div>
                    <footer class="card__footer card__footer--short">

                        {# Generate HTML for client-side templating, JS will replace __name__ #}
                        {% set sectionAssetHTML %}
                            {% include 'partials/article-edit/section-article/table.twig' with {
                                'namePrefix': sectionNamePrefix ~ '[__name__]',
                                'sectionId': 'section-' ~ random() ~ '-__name__',
                                'values': {}
                            } %}
                        {% endset %}

                        {% include 'partials/add-section.twig' with {
                            'sections': [
                                {'text': 'Asset', 'html': sectionAssetHTML},
                            ]
                        } %}
                    </footer>

                </div>
            {% endfor %}
        </div>

    </div>
</div>
