{% set language = language|default('en') %}
{% set id = id|default('section-' ~ random()) %}
{% set name = name|default('') %}


{# Title #}
<div class="row row--pad form-group">
    <div class="col col--xs-12 col--lg-6">
        {% set uniqueId = 'input-' ~ random() %}

        {% include 'partials/form/label.twig' with ({
            text: 'Title',
            attrs: {
                for: uniqueId,
            }
        }) %}

        {% include 'partials/form/text.twig' with {
            id: uniqueId,
            name: name ~ '[title]',
            value: 'Офисная недвижимость',
            required: true
        } %}
        
    </div>
</div>


{# Description #}
<div class="form-group">
    {% set uniqueId = 'input-' ~ random() %}

    {% include 'partials/form/label.twig' with ({
        text: 'Description',
        attrs: {
            for: uniqueId,
        }
    }) %}

    {% include 'partials/form/text.twig' with {
        id: uniqueId,
        name: name ~ '[description]',
        value: 'Недвижимость для размещения офисов компаний и бизнеса в различных формах.',
        required: true,
        maxlength: 512
    } %}
</div>


{# Image #}
<div class="row row--pad form-group">
    <div class="col col--xs-12 col--lg-6">
        {% set uniqueId = 'input-' ~ random() %}

        {% include 'partials/form/label.twig' with ({
            text: 'Thumbnail',
            attrs: {
                for: uniqueId,
            }
        }) %}

        {% include 'partials/form/image.twig' with {
            id: uniqueId,
            name: name ~ '[image]',
            value: {
                id: 'qweasdzxc',
                thumbnail: '/assets/images/temp/image-thumb-3.png',
                url: '/assets/images/temp/image-thumb-3.png',
                fileName: 'academy_article_chart_01.jpg',
                width: 620,
                height: 620
            },
            required: true,
            imageMinWidth: 320,
            imageMinHeight: 320
        } %}

    </div>
</div>
