<div class="card accordion accordion--collapsed js-sortable-list-item"
    data-plugin="accordion"
    data-accordion-active-heading-parent-class-name="ui-dark"
>
    {% include 'partials/section-header.twig' with {
        'title': 'Property',
        'id': 'modalProperty',
        
        'draggable': true,

        'withOptions': true,

        'withActiveToggle': true,
        'active': true,

        'withAccordion': true,
        'accordionExpandedClassName': 'ui-dark',
        'expanded': false,
    } %}

    <div role="region" aria-labelledby="modalPropertyTitle" id="modalProperty" aria-hidden="true" class="accordion__content card__content">
        <div class="card__body">
            
            @TODO 

        </div>
    </div>
</div>
