<div class="card accordion accordion--collapsed js-sortable-list-item"
    data-plugin="accordion"
    data-accordion-active-heading-parent-class-name="ui-dark"
>
    {% include 'partials/page-content-modal/section-header.twig' with {
        'title': 'Strategy',
        'id': 'modalStrategy',
        'draggable': true
    } %}
    <div role="region" aria-labelledby="modalStrategyTitle" id="modalStrategy" aria-hidden="true" class="accordion__content card__content">
        <div class="card__body">
            
            @TODO 

        </div>
    </div>
</div>
