{% set language = language|default('en') %}
{% set id = id|default('section-' ~ random()) %}


{# Title #}
<div class="row row--pad form-group">
    <div class="col col--xs-12 col--lg-6">

        {% include 'partials/form/label.twig' with ({
            text: 'Title',
            attrs: {
                for: 'input-' ~ id ~ '5746747456-' ~ language
            }
        }) %}

        {% include 'partials/form/text.twig' with {
            id: 'input-' ~ id ~ '-5746747456-' ~ language,
            name: 'title[][' ~ language ~ ']',
            value: 'Офисная недвижимость',
            required: true
        } %}
        
    </div>
</div>


{# Description #}
<div class="form-group">
    {% include 'partials/form/label.twig' with ({
        text: 'Description',
        attrs: {
            for: 'input-' ~ id ~ '-78567563443-' ~ language
        }
    }) %}

    {% include 'partials/form/text.twig' with {
        id: 'input-' ~ id ~ '-78567563443-' ~ language,
        name: 'description[][' ~ language ~ ']',
        value: 'Недвижимость для размещения офисов компаний и бизнеса в различных формах.',
        required: true,
        maxlength: 512
    } %}
</div>


{# Image #}
<div class="row row--pad form-group">
    <div class="col col--xs-12 col--lg-6">

        {% include 'partials/form/label.twig' with ({
            text: 'Thumbnail',
            attrs: {
                for: 'input-' ~ id ~ '-678675634643-' ~ language
            }
        }) %}

        {% include 'partials/form/image.twig' with {
            id: 'input-' ~ id ~ '-678675634643-' ~ language,
            name: 'image[][' ~ language ~ ']',
            value: {
                id: 'qweasdzxc',
                thumbnail: '/assets/images/temp/image-thumb-3.png',
                url: '/assets/images/temp/image-thumb-3.png',
                fileName: 'academy_article_chart_01.jpg',
                width: 620,
                height: 620
            },
            required: true,
            imageMinWidth: 320,
            imageMinHeight: 320
        } %}

    </div>
</div>
