{% set namePrefix = namePrefix|default('') %}
{% set sectionId = sectionId|default('section-' ~ random()) %}
{% set values = values|default({}) %}


<div class="card card--draggable accordion accordion--expanded js-sortable-list-item"
    data-plugin="accordion sectionTitle"
>
    {# Order, for backend #}
    <input type="hidden" name="assets[{{ i }}][order]" value="{{ i }}" />

    {% include 'partials/section-header.twig' with {
        'title': 'Asset',
        'subtitle': true,
        'id': sectionId,

        'size': 'small',
        
        'draggable': true,

        'withCardListCounter': true,

        'withDeleteOption': true,

        'withAccordion': true,
        'expanded': true,
    } %}
    <div role="region" aria-labelledby="{{ sectionId }}Title" id="{{ sectionId }}" aria-hidden="false" class="accordion__content card__content">
        <div class="card__body">

            {# Title #}
            <div class="row row--pad form-group">
                <div class="col col--xs-12 col--lg-6">
                    {% include 'partials/form/label.twig' with ({
                        text: 'Title',
                        attrs: {
                            for: sectionId ~ '-title',
                        }
                    }) %}

                    {% include 'partials/form/text.twig' with {
                        id: sectionId ~ '-title',
                        name: namePrefix ~ '[title]',
                        value: values['title']|default(''),
                        required: true,
                    } %}
                    
                </div>
            </div>


            {# Description #}
            <div class="form-group">
                {% include 'partials/form/label.twig' with ({
                    text: 'Description',
                    attrs: {
                        for: sectionId ~ '-description'
                    }
                }) %}

                {% include 'partials/form/text.twig' with {
                    id: sectionId ~ '-description',
                    name: namePrefix ~ '[description]',
                    value: values['description']|default(''),
                    required: true,
                    maxlength: 512
                } %}
            </div>


            {# Image #}
            <div class="row row--pad form-group">
                <div class="col col--xs-12 col--lg-6">
                    {% include 'partials/form/label.twig' with ({
                        text: 'Thumbnail',
                        attrs: {
                            for: sectionId ~ '-thumbnail'
                        }
                    }) %}

                    {% include 'partials/form/image.twig' with {
                        id: sectionId ~ '-thumbnail',
                        name: namePrefix ~ '[image]',
                        value: values[image]|default({}),
                        required: true,
                        imageMinWidth: 320,
                        imageMinHeight: 320
                    } %}

                </div>
            </div>

        </div>
    </div>
</div>