$select2-search-field-border: var(--color-outline);
$select2-height: var(--spacer-6);
$select2-padding: var(--spacer-3);
$select2-dropdown-padding: var(--spacer-4) var(--spacer-3);
$select2-option-height: var(--spacer-5);
$select2-option-padding: var(--spacer-2);