/**
 * Button Sizes
 *
 * Use button sizes to define the hierarhchy between the actions in your page.
 * You may want to move font-size into separate classnames if button size and text size
 * is not related in the design.
 *
 * @demo
 *     <a class="btn">Default button</a>
 *     <a class="btn btn--sm">Small button</a>
 *     <a class="btn btn--lg">Large button</a>
 */

.btn {
    $sizes: (
        xs: (
            'height':          var(--spacer-5),
            'padding':         0 var(--spacer-3),
        ),
    );

    @include button-sizes ($sizes);
    @include button-square-modifier ($sizes);
}


// Small button size modifier
.btn--sm {
    $sizes: (
        xs: (
            'height':          var(--spacer-4),
            'padding':         0 var(--spacer-3),
        )
    );

    @include button-sizes ($sizes);
    @include button-square-modifier ($sizes);
}


// Large button size modifier
.btn--lg {
    $sizes: (
        xs: (
            'height':          var(--spacer-6),
            'padding':         0 var(--spacer-4),
        )
    );

    @include button-sizes ($sizes);
    @include button-square-modifier ($sizes);
}


// Small text size button
.btn--text-small {
    @extend %text--size-small;
}

// Button without paddings
.btn.btn--no-paddings {
    // Reset button styles
    padding-left: 0;
    padding-right: 0;

    .btn__content {
        justify-content: flex-start;
        text-align: left;
    }
}

// Button with content aligned to the left side
.btn.btn--align-left {
    .btn__content {
        justify-content: flex-start;
        text-align: left;
    }
}
