@import 'mixins/lib/str-replace';

/**
 * Secondary call to action button style modifier
 *
 * 1. Increase specificity to prevent `.ui-dark a` from overwriting styles
 * 2. We can't use ".ui-dark .btn..." because of CSS generated selector complexity, parent/theme selector must be specified separately
 * 3. Hover animation effect background color
 * 4. We are using hover animation, no need for simple background color change
 *
 * @demo
 *     <a class="btn btn--secondary"><span class="btn__content">Normal state</span></a>
 *     <a class="btn btn--secondary is-active"><span class="btn__content">Active state</span></a>
 *     <a class="btn btn--secondary is-disabled"><span class="btn__content">Disabled state</span></a>
 */

.btn.btn--secondary { // 1.
    @debug str-replace('#{ $link-focus-visible-shadow }', '--color-focus-raw', '--color-secondary');

    $styles: (
        // Default styles
        'default': (
            color:      var(--color-background),
            background: var(--color-secondary),
            hover-background: var(--color-secondary),
        ),
        // Style when button is hovered or pressed down
        'hover down': (
            color:      var(--color-background),
        ),

        // Focus visible styles
        'focus-visible': (
            box-shadow: #{ str-replace('#{ $link-focus-visible-shadow }', '--color-focus-raw', '--color-secondary-raw') },
        )
    );

    @include button-colors ($styles);
}