/**
 * Button style, which makes it look like a regular link
 *
 * 1. Increase specificity to prevent `.ui-dark a` from overwriting styles
 *
 * @demo
 *     <a class="btn btn--link"><span class="btn__content">Normal state</span></a>
 *     <a class="btn btn--link is-active"><span class="btn__content">Active state</span></a>
 *     <a class="btn btn--link is-disabled"><span class="btn__content">Disabled state</span></a>
 */

.btn.btn--link { // 1.

    $styles: (
        // Default styles
        'default': (
            color:      var(--color-text),
        ),
        // Style when button is hovered or pressed down
        'hover down': (
            color:      var(--color-heading),
        ),

        // Focus visible styles
        // 'focus-visible': (
        //     box-shadow: 0 0 0 3px rgba(var(--color-text-raw), 0.4),
        // )
    );

    @include button-colors ($styles);
    
    // Enable content overflow
    overflow: visible;

    &:before,
    &:after {
        display: none;
    }
}

.btn.btn--no-paddings {
    // Reset button styles
    padding-left: 0;
    padding-right: 0;

    .btn__content {
        justify-content: flex-start;
        text-align: left;
    }
}
