@import "mixins/lib/color";

/**
 * Primary call to action button style modifier
 *
 * 1. Increase specificity to prevent `.ui-dark a` from overwriting styles
 * 2. We can't use ".ui-dark .btn..." because of CSS generated selector complexity, parent/theme selector must be specified separately
 * 3. Hover animation effect background color
 * 4. We are using hover animation, no need for simple background color change
 *
 * @demo
 *     <a class="btn btn--primary"><span class="btn__content">Normal state</span></a>
 *     <a class="btn btn--primary is-active"><span class="btn__content">Active state</span></a>
 *     <a class="btn btn--primary is-disabled"><span class="btn__content">Disabled state</span></a>
 */

.btn.btn--primary { // 1.
    $styles: (
        // Default styles
        'default': (
            color: var(--color-base),
            background: var(--color-primary),
            hover-background: var(--color-primary),
        ),
        // Style when button is hovered or pressed down
        'hover down': (
            color: var(--color-base),
        ),
    );

    @include button-colors ($styles);
}