/**
 * Tetriary call to action button style modifier
 *
 * 1. Increase specificity to prevent `.ui-dark a` from overwriting styles
 * 2. We can't use ".ui-dark .btn..." because of CSS generated selector complexity, parent/theme selector must be specified separately
 * 3. Hover animation effect background color
 * 4. We are using hover animation, no need for simple background color change
 *
 * @demo
 *     <a class="btn btn--tetriary"><span class="btn__content">Normal state</span></a>
 *     <a class="btn btn--tetriary is-active"><span class="btn__content">Active state</span></a>
 *     <a class="btn btn--tetriary is-disabled"><span class="btn__content">Disabled state</span></a>
 */

.btn.btn--tetriary { // 1.
    $styles: (
        // Default styles
        'default': (
            color:      var(--color-text),
            background: var(--color-tetriary),
            hover-background: var(--color-tetriary),
        ),
        // Style when button is hovered or pressed down
        'hover down': (
            color:      var(--color-heading),
        ),

        // Active style
        'active': (
            color:      var(--color-background),
            background: var(--color-heading),
            hover-background: var(--color-heading),
        ),
        // Style when button is hovered or pressed down
        'active+hover active+down': (
            color:      var(--color-background),
        ),

        // Disabled style
        'disabled': (
            color:      var(--color-disabled),
        )
    );

    // .is-highlighted state
    @include button-custom-state ($state-selector: '.is-highlighted') {
        @include button-color-variant((
            color: var(--color-primary)
        ));
    }

    @include button-colors ($styles);
}


/*
 * Tetriary button in navigation, without background until button is active
 */

.btn.btn--tetriary--nav {
    $styles: (
        // Default styles
        'default': (
            background: transparent,
            hover-background: transparent,
        ),
        // Style when button is hovered or pressed down
        'hover down': (
            color:      var(--color-heading),
        ),

        // Active style
        'active': (
            color:      var(--color-heading),
            background: var(--color-tetriary),
            hover-background: var(--color-tetriary),
        ),
        // Style when button is hovered or pressed down
        'active+hover active+down': (
            color:      var(--color-heading),
        ),
    );

    @include button-colors ($styles);
}


/*
 * Tetriary button in table, without background until table row is hovered
 */

.btn.btn--tetriary--table {
    $styles: (
        // Default styles
        'default': (
            background: transparent,
            hover-background: var(--color-tetriary),
        ),
    );

    @include button-colors ($styles);
}