/**
 * Dropdown button style
 *
 * @demo
 *     <a class="btn btn--dropdown"><span class="btn__content">Normal state</span></a>
 *     <a class="btn btn--dropdown is-active"><span class="btn__content">Active state</span></a>
 *     <a class="btn btn--dropdown is-disabled"><span class="btn__content">Disabled state</span></a>
 */

.btn.btn--dropdown {
    $styles: (
        // Default styles
        'default': (
            color:            var(--color-text),
            background:       var(--color-tetriary),
            hover-background: var(--color-tetriary),
            border:           var(--color-tetriary),
            hover-border:     var(--color-tetriary),
            icon:             var(--color-text),
        ),

        // Active style
        'active': (
            background:       var(--color-background),
            hover-background: var(--color-background),
            border:           var(--color-outline),
            hover-border:     var(--color-outline),
        ),
    );

    .btn__content {
        justify-content: space-between;
    }

    // Hover / active state border
    &:before,
    &:after {
        border: 1px solid var(--color-tetriary);
    }

    @include buttonAnimationFade();
    @include button-colors ($styles);
}


/**
 * Heading color text
 */

.btn.btn--dropdown--heading {
    $styles: (
        // Default styles
        'default': (
            color:            var(--color-heading),
        ),
    );

    @include button-colors ($styles);
}