{% macro form_widget_textarea (attr) -%}
    {%- from 'partials/blocks/attributes.twig' import attributes -%}
    {%- from 'partials/blocks/widget_attributes.twig' import widget_attributes -%}

    {%- set input_attr = attr.attr|default({}) -%}
    {%- set widget_attr = attr.widget_attr|default({}) -%}
    {%- set maxlength = input_attr.maxlength|default(null) -%}

    {# Remove properties from input_attr #}
    {%- set input_attr_omit = ['class'] %}

    {# {%- set input_attr = input_attr|filter((v, k) => k not in widget_attr_omit) -%} #}
    {%- set input_attr = input_attr|omit(input_attr_omit) -%}
    {%- set attr = ({}|merge(attr))|merge({'attr': input_attr}) -%}

    {# Plugin and class attributes #}
    {%- set className = 'form-control form-control--textarea' -%}
    {%- set plugin = '' -%}

    {%- if widget_attr.class|default('') -%}
        {%- set className = className ~ ' ' ~ widget_attr.class -%}
    {%- endif -%}

    {%- if maxlength -%}
        {%- set plugin = 'inputMaxLength' -%}
    {%- endif -%}
    {%- if widget_attr['data-plugin']|default(false) -%}
        {%- set plugin = plugin ~ ' ' ~ widget_attr['data-plugin'] -%}
    {%- endif -%}

    {%- set widget_attr = ({}|merge(widget_attr))|merge({
        'class': className|trim,
        'data-plugin': plugin|trim
    }) -%}

    <div {{ attributes(widget_attr) }}>
        <textarea {{ widget_attributes(attr) }}>
            {%- if attr.value is not empty %}{{ attr.value }}{% endif -%}
        </textarea>

        {%- if maxlength -%}
            <span class="form-control__info text-small text-color-small">
                <span class="sr-only">Characters remaining</span> <span class="js-input-max-length-text">{{ maxlength - attr.value|default('')|length }}</span>
            </span>
        {%- endif -%}
    </div>
{%- endmacro %}