{% from 'partials/blocks/form_rows.twig' import form_rows %}
{% from 'partials/blocks/form_row.twig' import form_row %}


<div class="card js-sortable-list-force-start">
    <header class="card__header">
        <div class="group group--middle group--5">
            {# Title #}
            <h2 class="group__fill" id="modalGeneralTitle">General Settings</h2>

            {# Control #}
            <div>

                {{ form_row({
                    name: 'active',
                    full_name: 'active',
                    type: 'checkbox',
                    label: 'Online',
                    value: '1',
                    checked: false,
                    widget_attr: {
                        class: 'form-control-checkbox--switch'
                    }
                }) }}

            </div>
        </div>
    </header>

    <div aria-labelledby="modalGeneralTitle" class="card__content">
        <div class="card__body">

            {# Localized title, duplicate for each content, in the real app this won't be a copy #}
            <div class="tabs-contents">
                {% for languageItem in languages %}
                    <div class="tabs-contents__content" {% if not loop.first %}aria-hidden="true"{% endif %} data-tabs-content-id="{{ languageItem.id }}">
                        {# Locale tab content #}
                        {% set language = languageItem.id %}

                        {# Title #}
                        {{ form_rows([
                            {
                                type: 'textarea',
                                label: 'Title',
                                name: 'values[title][' ~ language ~ ']',
                                full_name: 'values[title][' ~ language ~ ']',
                                value: '',
                                required: true,
                                attr: {
                                    class: 'form-control--textarea--short',
                                    maxlength: 512,
                                }
                            }
                        ]) }}

                    </div>
                {% endfor %}
            </div>

            {# URL #}
            {{ form_rows([
                {
                    type: 'url',
                    label: 'Anchor Link',
                    help: 'Enim reprehenderit reprehenderit minim nisi eu deserunt elit sit nulla.',
                    name: 'values[url]',
                    full_name: 'values[url]',
                    value: '',
                    required: true,
                    attr: {
                        prefix: 'academy/'
                    }
                },
            ]) }}

        </div>
    </div>
</div>
