{% from 'partials/blocks/form_rows.twig' import form_rows %}


<div class="card js-sortable-list-force-start">
    <header class="card__header">
        <div class="group group--middle group--5">
            {# Title #}
            <h2 class="group__fill" id="modalGeneralTitle">General Settings</h2>

            {# Control #}
            <div>
                
                <div class="form-control-switch">
                    <input class="form-control-switch__input" type="checkbox" id="input-wegfjwe78r2374723e33" name="active" value="1" checked="checked" />
                    <label class="form-control-switch__label text-color-heading" for="input-wegfjwe78r2374723e33">Online</label>
                    <span class="form-control-switch__icon"></span>
                </div>

            </div>
        </div>
    </header>

    <div aria-labelledby="modalGeneralTitle" class="card__content">
        <div class="card__body">
            
            {# Localized title, duplicate for each content, in the real app this won't be a copy #}
            <div class="tabs-contents">
                {% for languageItem in languages %}
                    <div class="tabs-contents__content" {% if not loop.first %}aria-hidden="true"{% endif %} data-tabs-content-id="{{ languageItem.id }}">
                        {# Locale tab content #}
                        {% set language = languageItem.id %}

                        {# Title #}
                        {{ form_rows([
                            {
                                type: 'textarea',
                                label: 'Title',
                                name: 'title[' ~ language ~ ']',
                                value: 'Инвестиционная
философия',
                                required: true,
                                attr: {
                                    class: 'form-control--textarea--short',
                                    maxlength: 512,
                                }
                            }
                        ]) }}

                    </div>
                {% endfor %}
            </div>

            {# URL #}
            {{ form_rows([
                {
                    type: 'url',
                    label: 'Anchor Link',
                    help: 'Enim reprehenderit reprehenderit minim nisi eu deserunt elit sit nulla.',
                    name: 'url',
                    full_name: 'url',
                    value: 'philosophy',
                    required: true,
                    attr: {
                        prefix: 'academy/'
                    }
                },
            ]) }}

        </div>
    </div>
</div>
