{% from 'partials/blocks/form_rows.twig' import form_rows %}

{% set namePrefix = namePrefix|default('') %}
{% set sectionId = sectionId|default('section-' ~ random()) %}
{% set values = values|default({}) %}


<div class="card card--draggable accordion accordion--expanded js-sortable-list-item js-collection-item"
    data-plugin="accordion sectionTitle"
>
    {# Order, for backend #}
    <input type="hidden" name="{{ namePrefix }}[order]" value="" />

    {% include 'partials/section-header.twig' with {
        'title': 'Asset',
        'subtitle': true,
        'id': sectionId,

        'size': 'small',

        'draggable': true,

        'withCardListCounter': true,

        'withDeleteOption': true,

        'withAccordion': true,
        'expanded': true,
    } %}
    <div role="region" aria-labelledby="{{ sectionId }}-title" id="{{ sectionId }}" aria-hidden="false" class="accordion__content card__content">
        <div class="card__body">

            {{ form_rows([
                {
                    compound: true,
                    attr: { class: 'form-grid-layout' },
                    children: [
                        {
                            type: 'text',
                            label: 'Title',
                            name: namePrefix ~ '[title]',
                            full_name: namePrefix ~ '[title]',
                            value: values['title']|default(''),
                            required: true
                        },
                    ]
                },
                {
                    type: 'text',
                    label: 'Description',
                    name: namePrefix ~ '[description]',
                    full_name: namePrefix ~ '[description]',
                    value: values.description|default(''),
                    required: true,
                    attr: {
                        maxlength: 512
                    }
                },
                {
                    name: namePrefix ~ '[image]',
                    full_name: namePrefix ~ '[image]',
                    type: 'image',
                    label: 'Thumbnail',
                    value: values.image|default({}),
                    required: true,
                    minWidth: 320,
                    minHeight: 320,
                },
            ]) }}

        </div>
    </div>
</div>
