/*
 * Accordion
 */

.accordion__header {
    // Theme animation
    @extend %transition;
    transition-property: background, color;

    // Arrow icon
    .icon-accordion {
        @include transition-fast();
        transition-property: transform;
        transform-origin: center;
    }
    .accordion--expanded > & .icon-accordion {
        transform: rotate(-180deg);
    }
}

.accordion__content {
    // Hide collapsed content
    .js &[aria-hidden="true"] {
        display: none;
    }
}


.accordion--expanded > .accordion__header .accordion__expanded-hidden,
.accordion--collapsed > .accordion__header .accordion__collapsed-hidden {
    display: none;
}