/**
 * @stylesheet components/blocks Block
 * @parent components
 *
 * Components to add margins / padding to the elements
 *
 * @demo
 *     <div class="block">Block</div>
 *     <div class="block-top">Block</div>
 *     <div class="block-bottom">Block</div>
 */


/*
 * For each of these definitions creates 3 classnames:
 *
 * NAME        - top and bottom margin with :first-child not having top margin and :last-child not having bottom margin
 * NAME-top    - only top margin which is applied to :first-child too
 * NAME-bottom - only bottom margin which is applied to :last-child too
 */

$blocks: (
    block: $spacing,
    block-none: $spacing-none,
    // ...
);


@each $name, $spacing in $blocks {
    .#{$name} {
        @include margins-top-bottom($spacing);

        &-top {
            // Only 'top' part of the $spacing margin
            @include margins-top($spacing, $reset-first-last: false);
        }
        &-bottom {
            // Only 'bottom' part of the $spacing margin
            @include margins-bottom($spacing, $reset-first-last: false);
        }
	}
}
