.card {
    &__header {
        position: relative;
        background: var(--color-background);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        padding: var(--spacer-4) var(--spacer-6);

        @extend %transition;
        transition-property: border-radius;

        &:last-child {
            border-radius: var(--border-radius);
        }
    }

    &.accordion--collapsed .card__header {
        border-radius: var(--border-radius);
    }

    &__body,
    &__footer {
        background: var(--color-background);
        border-top: 1px solid var(--color-line);
        padding: var(--spacer-6);
    }

    &__content:first-child .card__body:first-child,
    &__content:first-child .card__footer:first-child {
        border-top: 0;
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
    .card__body:last-child,
    .card__footer:last-child {
        border-radius: 0 0 var(--border-radius) var(--border-radius);
    }

    &__content:first-child .card__body:first-child:last-child,
    &__content:first-child .card__footer:first-child:last-child {
        border-radius: var(--border-radius);
    }

    &__body--short {
        padding: var(--spacer-5) var(--spacer-6);
    }

    // Footer
    &__footer {
        border-radius: var(--border-radius);
    }
    &__footer--short {
        padding: var(--spacer-4) var(--spacer-6);
    }
}

.card--small {
    .card__header {
        padding: var(--spacer-4) var(--spacer-5);
    }
    .card__body,
    .card__footer {
        padding: var(--spacer-5);
    }
    .card__body--short {
        padding: var(--spacer-4) var(--spacer-5);
    }
    .card__footer--short {
        padding: var(--spacer-4) var(--spacer-5);
    }
}


/** 
 * Card list
 */

.card-list > .card {
    margin-top: var(--spacer-5);

    &:first-child {
        margin-top: 0;
    }
}

.card-list--small > .card {
    margin-top: var(--spacer-2);

    &:first-child {
        margin-top: 0;
    }
}


/**
 * Card list as card body
 */

.card__body.card-list {
    background: none;
    border: 0;
    padding: 0;
    margin-top: var(--spacer-2);
    margin-bottom: var(--spacer-2);
    
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }

    & + .card__footer {
        border-top: 0;
    }

    .card__header,
    .card__body,
    .card__footer {
        border-radius: 0;
    }
}

.card__header + .accordion__content > .card__body.card-list {
    margin-top: var(--spacer-2);
}


/**
 * Draggable icon / button
 */

.card__header__draggable {
    border: 0;
    padding: 0 0 2px;
    margin: 0;
    background: none;

    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: var(--spacer-6);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;

    @extend %link--style-small;
}