.dropdown {
    &__toggle {
        cursor: pointer;
    }
    
    &__toggle:not(.btn) {
        border: 0;
        margin: 0;
        padding: 0;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}