.dropdown {
    position: relative;

    // Toggle element
    &__toggle {
        cursor: pointer;

        // Arrow which will rotate 180deg when dropdown is open
        .icon-dropdown-arrow {
            @include transition();
            transition-property: transform, color;
            transform-origin: center;
        }

        &.is-active .icon-dropdown-arrow {
            transform: rotate(180deg);
        }
    }

    // Menu
    &__menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: $z-index-dropdown;

        &__content {
            position: relative;
            background: var(--color-background);
            border-radius: var(--border-radius);
            padding: $dropdown-padding-y $dropdown-padding-x;
            // margin-top: var(--spacer-4);
            // margin-left: calc(var(--spacer-4)*-1);
            min-width: $dropdown-menu-min-width;
            box-shadow: $dropdown-shadow;
        }
    }

    // Menu item
    &__item {
        // Position above the indicator
        position: relative;
        z-index: 1;

        // Pill
        border-radius: 200px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        height: var(--spacer-5);
        padding: 0 var(--spacer-3);

        .icon {
            color: var(--color-small);
        }

        @include link-hover () {
            color: var(--color-text);

            .icon {
                color: var(--color-small);
            }
        }
    }

    // Menu text
    &__text {
        padding: 0 var(--spacer-3);
    }
    &__form {
        padding: var(--spacer-1) var(--spacer-3) var(--spacer-2);
    }

    // Arrow
    &__menu__content:before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: var(--spacer-5);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 var(--spacer-2) var(--spacer-2) var(--spacer-2);
        border-color: transparent transparent var(--color-background) transparent;
    }

    // Extended hover area to prevent menu from collapsing when
    // moving mouse from toggle to menu
    &__menu__content:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 100%;
        width: 100%;
        height: var(--spacer-3);
    }

    // Divider line
    &__divider {
        position: relative;
        border-top: 1px solid var(--color-line);
        margin: var(--spacer-4) calc(#{ $dropdown-padding-x }*-1);
    }

    // Hover indicator
    &__menu__indicator {
        position: absolute;
        left: 0;
        top: 0;

        border-radius: 200px;
        background: var(--color-primary);

        @extend %transition-fast;
        transition-property: transform, width, height, background-color, opacity;

        &--dropdown {
            background: var(--color-tetriary);
        }
    }
}


/**
 * Dropdown menu for non-JS
 */

.no-js .dropdown__toggle:focus + .dropdown__menu {
    display: block !important;
}


/**
 * Dropdown item styles
 */

@mixin dropdown-item-hover () {
    &,
    .has-hover &:hover, // if hover events are supported
    &:hover:active {
        @content;
    }
}

.dropdown__item.is-focused {
    @include dropdown-item-hover () {
        &,
        .icon {
            color: var(--color-background);
        }
    }
}

.dropdown > .dropdown__item {
    &.is-focused {
        & {
            color: var(--color-text);
        }
        .icon {
            color: var(--color-small);
        }
    }
    &.is-active {
        &,
        .icon {
            color: var(--color-heading);
        }
    }
}

.dropdown.is-open > .dropdown__item {
    @include dropdown-item-hover () {
        &,
        .icon {
            color: var(--color-text);
        }

        &.is-active {
            &,
            .icon {
                color: var(--color-heading);
            }
        }
    }
}

// Hide focus-visible box-shadow since dropdown supports keyboard
// navigation
.dropdown__item.focus-visible {
    box-shadow: none;
}


/**
 * Dropdown which opens at the bottom
 */

.dropdown__menu[data-popper-placement="bottom"],
.dropdown__menu[data-popper-placement="top"] {
    // Arrow
    .dropdown__menu__content:before {
        margin-left: calc(var(--spacer-2)*-1);
        left: 50%;
        right: auto;
    }
}

.dropdown__menu[data-popper-placement="bottom-end"],
.dropdown__menu[data-popper-placement="top-end"] {
    // Arrow
    .dropdown__menu__content:before {
        left: auto;
        right: var(--spacer-5);
    }
}


/**
 * Dropdown which opens at the top
 */

.dropdown__menu[data-popper-placement="top-start"],
.dropdown__menu[data-popper-placement="top-end"] {
    // Arrow
    .dropdown__menu__content:before {
        content: "";
        bottom: auto;
        top: 100%;
        border-width: var(--spacer-2) var(--spacer-2) 0 var(--spacer-2);
        border-color: var(--color-background) transparent transparent transparent;
    }

    // Extended hover area to prevent menu from collapsing when
    // moving mouse from toggle to menu
    .dropdown__menu__content:after {
        bottom: auto;
        top: 100%;
    }
}


/**
 * Dropdown which opens to the right side
 */

.dropdown--right {
    .dropdown__toggle .icon {
        transform: rotate(-90deg);
    }
}

.dropdown__menu[data-popper-placement="right-start"],
.dropdown__menu[data-popper-placement="right-end"] {
    // Arrow
    .dropdown__menu__content:before {
        left: auto;
        bottom: auto;
        right: 100%;
        top: var(--spacer-5);
        border-width: var(--spacer-2) var(--spacer-2) var(--spacer-2) 0;
        border-color: transparent var(--color-background) transparent transparent;
    }

    // Extended hover area
    .dropdown__menu__content:after {
        left: auto;
        right: 100%;
        bottom: auto;
        top: 0;
        height: 100%;
        width: var(--spacer-4);
    }
}

.dropdown__menu[data-popper-placement="right-end"] {
    .dropdown__menu__content:before {
        top: auto;
        bottom: var(--spacer-5);
    }
}


/**
 * Dropdown which opens to the left side
 */

.dropdown--left {

}


/**
 * Dropdown which opens to the up
 */

.dropdown--up {

}


/**
 * Dropdown with min width
 */

.dropdown--wide {
    width: 240px;
    max-width: 100%;

    .dropdown__toggle {
        width: 100%;
    }
}

.dropdown__menu--wide {
    width: 420px;
}


/**
 * Dropdown with small size padding
 */

.dropdown--narrow {
    .dropdown__menu__content {
        padding: var(--spacer-2) 0;
    }
}


/**
 * Dropdown page overlay element
 */

.dropdown-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-dropdown;
    background: color($color-gray-background, 0.4);
}


/**
 * Dropdown toggle with shadow
 */

.dropdown--shadow {
    .dropdown__toggle {
        box-shadow: $button-shadow;
    }
}