.dropdown {
    position: relative;

    &__toggle {
        cursor: pointer;
    }
    
    &__toggle:not(.btn,.dropdown__item) {
        border: 0;
        margin: 0;
        padding: 0;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__menu {
        background: var(--color-background);
        border-radius: $border-radius;
        padding: $dropdown-padding-y $dropdown-padding-x;
        margin-top: var(--spacer-4);
        margin-left: calc(var(--spacer-4)*-1);
        min-width: $dropdown-menu-min-width;

        position: absolute;
        top: 100%;
        left: 0;
        z-index: $z-index-dropdown;
        
        box-shadow: $dropdown-shadow;
    }
    &__item {
        // Pill
        border-radius: 200px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        height: var(--spacer-5);
        padding: 0 var(--spacer-3);
    }

    // Arrow
    &__menu:before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: var(--spacer-5);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 var(--spacer-2) var(--spacer-2) var(--spacer-2);
        border-color: transparent transparent var(--color-background) transparent;
    }

    // Divider line
    &__divider {
        position: relative;
        border-top: 1px solid var(--color-line);
        margin: var(--spacer-2) calc(#{ $dropdown-padding-x }*-1);
    }
}


/**
 * Dropdown item styles
 */

.dropdown__item.is-active {
    @include link-hover-active () {

    }
}

.dropdown__item.is-focused {
    .has-hover &:hover, // if hover events are supported
    &:hover:active,
    &.is-focused {
        color: var(--color-background);
        background: var(--color-primary);
    }
}

.dropdown__item.focus-visible {
    box-shadow: none;
}

.dropdown.is-open > .dropdown__item {
    color: var(--color-text);
    background: var(--color-tetriary);

    &.is-active {
        color: var(--color-heading);
    }
}


/**
 * Dropdown which opens to the right side
 */

.dropdown--right {
    .dropdown__toggle .icon {
        transform: rotate(-90deg);
    }
    .dropdown__menu {
        top: 0%;
        left: 100%;
        margin: 0;
        margin-top: calc(var(--spacer-4)*-1);
        margin-left: var(--spacer-4);
    }

    // Arrow
    .dropdown__menu:before {
        left: auto;
        bottom: auto;
        right: 100%;
        top: var(--spacer-5);
        border-width: var(--spacer-2) var(--spacer-2) var(--spacer-2) 0;
        border-color: transparent var(--color-background) transparent transparent;
    }
}


/**
 * Dropdown which opens to the left side
 */

.dropdown--left {

}


/**
 * Dropdown which opens to the up
 */

.dropdown--up {

}