.scrollbar::-webkit-scrollbar {
    width: $scrollbar-with;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-tetriary);
    border-radius: 7px;
    border: 5px solid var(--color-base);
}

.scrollbar:hover::-webkit-scrollbar-thumb {
    background: var(--color-text);
    transition: background-color ease 0.3s;
}

.scrollbar::-webkit-scrollbar-track {
    background: var(--color-base);
    position: absolute;
}
