.scrollbar::-webkit-scrollbar {
    width: $scrollbar-width;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-tetriary);
    border-radius: $scrollbar-width / 2;
    border: $scrollbar-padding solid var(--color-base);
}

.scrollbar:hover::-webkit-scrollbar-thumb {
    background: var(--color-text);
    @extend %transition;
}

.scrollbar::-webkit-scrollbar-track {
    background: var(--color-base);
    position: absolute;
}
