@import "mixins/components/grid";

.media-layout {
    align-items: stretch;

    &__folders {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        @include grid-column-fixed(225px);
        border-right: 1px solid var(--color-line);
        border-radius: 0 0 0 $border-radius;
        border-top: 1px solid var(--color-line);
        position: relative;
        z-index: 1;

        &.ui-gray {
            border-right: 0;
        }

        &__content {
            padding: var(--spacer-5) 0 0;
            flex-grow: 1;
            
            display: flex;
            flex-direction: column;

            // Prevent overflow of drag select preview
            overflow: hidden;
        }
        &__footer {
            // position: absolute;
            // left: 0;
            // bottom: 0;
            // right: 0;
            padding: var(--spacer-3);
        }
    }
    &__content {
        padding: var(--spacer-5);
        border-radius: 0;
        position: relative;

        &:last-child {
            border-radius: 0 0 $border-radius;
        }
    }
    &__info {
        @include grid-column-fixed(240px);
        border-left: 1px solid var(--color-line);
        padding: var(--spacer-5);
        border-radius: 0 0 $border-radius;
        border-top: 1px solid var(--color-line);
        position: relative;

        display: flex;
        flex-direction: column;
    }
}