{% from 'macros/icon.twig' import icon %}
{% from 'partials/blocks/form_rows.twig' import form_rows %}

{% set form = form|default([]) %}
{% set id = id|default('') %}

<div class="editable dropdown__menu dropdown__menu--wide d-none" id="{{ id }}">
    <ul class="dropdown__menu__content">
        <li class="dropdown__form">

            {{ form_rows(form) }}

            {# Footer #}
            <div class="form-footer">
                <div class="group group--right group--2">
                    <button type="button" class="btn btn--tetriary btn--pill js-editable-close"><span class="btn__content">
                        Cancel
                    </span></button>
                    <button type="button" class="btn btn--primary btn--pill js-editable-save"><span class="btn__content">
                        {{ icon('valid', {width: 8, height: 8}) }}
                        <span>Save</span>
                    </span></button>
                </div>
            </div>

        </li>
    </ul>
</div>