<footer class="main-footer ui-gray ui-background">
    <div class="container container-h pt-9 pb-4">

        <div class="row">
            <div class="col col-12 col-md-fill">
                <a href="#">Перейти на сайт</a>
            </div>
            <div class="col col-12 col-md-auto">
                Octave CMS v 1.0
            </div>
        </div>

    </div>
</footer>
