<header class="main-header">
    <div class="container container-h mt-4">
        <div class="group group--middle group--6">
            {# Logo #}
            <div>
                {% include 'partials/header/brand.twig' %}
            </div>

            {# Vertical line #}
            <div class="group__divider"></div>

            {# Sitemap #}
            <div class="group__fill">
                {% include 'partials/header/sitemap.twig' %}
            </div>

            {# Navigation, right aligned #}
            <div>
                <div class="group group--middle group--5">
                    <div>
                        {% include 'partials/header/navigation.twig' %}
                    </div>

                    {# Profile #}
                    <div>
                        {% include 'partials/header/profile.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# CRUD selector #}
    <div class="container container-h mt-6">
        {% include 'partials/header/crud-list.twig' %}
    </div>

    {# Breadcrumbs and language switch #}
    <div class="main-header__sub-header mt-4">
        <div class="container container-h">
            <div class="group group--5 group--middle">

                {# Breacrumbs #}
                <div class="group__fill">
                    {% include 'partials/header/breadcrumbs.twig' %}
                </div>
                
                {# Language navigation #}
                <div>
                    {% include 'partials/header/language-switch.twig' %}
                </div>

            </div>
        </div>
    </div>
</header>
