{% set breadcrumbs = breadcrumbs|default([]) %}
{% set headerStickyNavigation = headerStickyNavigation|default([]) %}
{% set languages = languages|default([]) %}

{% set withStickyHeader = false %}
{% if languages|length or headerStickyNavigation|length %}
    {% set withStickyHeader = true %}
{% endif %}

{% set withSubHeader = false %}
{% if languages|length or headerStickyNavigation|length or breadcrumbs|length %}
    {% set withSubHeader = true %}
{% endif %}

<header class="main-header">
    <div class="container container-h mt-4 mb-4">
        <div class="group group--middle group--6">
            {# Logo #}
            <div>
                {% include 'partials/header/brand.twig' %}
            </div>

            {# Vertical line #}
            <div class="group__divider"></div>

            {# Sitemap #}
            <div class="group__fill">
                {% include 'partials/header/sitemap.twig' %}
            </div>

            {# Navigation, right aligned #}
            <div>
                <div class="group group--middle group--5">
                    <div>
                        {% include 'partials/header/navigation.twig' %}
                    </div>

                    {# Profile #}
                    <div>
                        {% include 'partials/header/profile.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# CRUD selector #}
    {% include 'partials/header/crud-list.twig' %}
</header>

{% if withSubHeader %}
    <header class="main-header main-header--sub-header {% if withStickyHeader %}main-header--sticky{% endif %}" data-plugin="stickyHeader">
        {# Breadcrumbs and language switch #}
        <div class="container container-h main-header__sticky-content">
            <div class="group group--5 group--middle">

                {# Breacrumbs #}
                <div class="group__fill main-header__invisible-sticky">
                    {% include 'partials/header/breadcrumbs.twig' with {
                        breadcrumbs: breadcrumbs
                    } %}
                </div>

                {# Navigation #}
                <div>
                    <div class="main-header__overlay-navigation main-header__visible-sticky">
                        {% include 'partials/header/sticky-navigation.twig' with {
                            headerStickyNavigation: headerStickyNavigation
                        } %}
                    </div>
                </div>
                
                {# Language navigation #}
                <div>
                    {% include 'partials/header/language-switch.twig' with {
                        languages: languages
                    } %}
                </div>

            </div>
        </div>
    </header>
{% endif %}