.navbar-app {
    margin-top: 10px;
}
.content-header .navbar-app.navbar-right:last-child {
    margin-right: -15px;
}

.blocks-add,
.blocks-list > .box > .box-header {
    cursor: move;
}


.blocks-list {
    position: relative;
    margin-bottom: -20px;
    min-height: 120px;
}

.blocks-list .sort-highlight {
    display: block;
    margin-bottom: 21px;
    min-height: 100px;
}

.blocks-list-empty-message {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    line-height: 100px;
    min-height: 121px;
    opacity: 0.4;
    display: none;
}
.blocks-list-empty-message:last-child {
    display: block;
}