/*
 * Color Palette
 */

// Light theme
$color-light-primary:    10, 98, 234;   // #0A62EA
$color-light-secondary:  4, 174, 164;   // #04AEA4

$color-light-tetriary:   242, 246, 248; // #F2F6F8
$color-light-background: 255, 255, 255; // #FFFFFF
$color-light-disabled:   211, 215, 220; // #D3D7DC

$color-light-small:      188, 189, 200; // #BCBDC8
$color-light-text:       131, 133, 143; // #83858F
$color-light-heading:    60, 62, 78;    // #3C3E4E

$color-light-line:       245, 247, 239; // #F5F7F9
$color-light-outline:    223, 227, 232; // #DFE3E8

$color-light-focus:      59, 153, 252;  // #3B99FC @TODO not defined in design
$color-light-shadow:     60, 62, 78;    // #3C3E4E

// Gray theme
$color-gray-primary:     $color-light-primary;
$color-gray-secondary:   $color-light-secondary;

$color-gray-background:  242, 246, 248; // #F2F6F8
$color-gray-tetriary:    255, 255, 255; // #FFFFFF
$color-gray-disabled:    211, 215, 220; // #D3D7DC @TODO not defined in design

$color-gray-small:       188, 189, 200; // #BCBDC8
$color-gray-text:        131, 133, 143; // #83858F
$color-gray-heading:     60, 62, 78;    // #3C3E4E

$color-gray-line:        232, 239, 243; // #E8EFF3 @TODO not defined in design
$color-gray-outline:     223, 227, 232; // #DFE3E8 @TODO not defined in design

$color-gray-focus:       59, 153, 252;  // #3B99FC @TODO not defined in design
$color-gray-shadow:      60, 62, 78;    // #3C3E4E

// Dark theme
$color-dark-primary:     $color-light-primary;
$color-dark-secondary:   $color-light-secondary;

$color-dark-background:  60, 62, 78;    // #3C3E4E
$color-dark-tetriary:    83, 85, 98;    // #535562
$color-dark-disabled:    211, 215, 220; // #D3D7DC @TODO not defined in design

$color-dark-small:       255, 255, 255; // #FFFFFF @TODO not defined in design
$color-dark-text:        255, 255, 255; // #FFFFFF
$color-dark-heading:     255, 255, 255; // #FFFFFF

$color-dark-line:        83, 85, 98;    // #535562 @TODO not defined in design
$color-dark-outline:     223, 227, 232; // #DFE3E8 @TODO not defined in design

$color-dark-focus:      59, 153, 252;   // #3B99FC @TODO not defined in design
$color-dark-shadow:      60, 62, 78;    // #3C3E4E


/**
 * Coniguration for .ui-... themes
 */
$themes: (
    light: (
        selector: ':root',
        values: (
            primary:    $color-light-primary,
            secondary:  $color-light-secondary,
            tetriary:   $color-light-tetriary,
            background: $color-light-background,
            disabled:   $color-light-disabled,
            small:      $color-light-small,
            text:       $color-light-text,
            heading:    $color-light-heading,
            line:       $color-light-line,
            outline:    $color-light-outline,
            focus:      $color-light-focus,
            shadow:     $color-light-shadow,
        )
    ),
    gray: (
        selector: '.ui-gray',
        values: (
            primary:    $color-gray-primary,
            secondary:  $color-gray-secondary,
            tetriary:   $color-gray-tetriary,
            background: $color-gray-background,
            disabled:   $color-gray-disabled,
            small:      $color-gray-small,
            text:       $color-gray-text,
            heading:    $color-gray-heading,
            line:       $color-gray-line,
            outline:    $color-gray-outline,
            focus:      $color-gray-focus,
            shadow:     $color-gray-shadow,
        )
    ),
    dark: (
        selector: '.ui-dark',
        values: (
            primary:    $color-dark-primary,
            secondary:  $color-dark-secondary,
            tetriary:   $color-dark-tetriary,
            background: $color-dark-background,
            disabled:   $color-dark-disabled,
            small:      $color-dark-small,
            text:       $color-dark-text,
            heading:    $color-dark-heading,
            line:       $color-dark-line,
            outline:    $color-dark-outline,
            focus:      $color-dark-focus,
            shadow:     $color-dark-shadow,
        )
    ),
);


/**
 * Configuration for .text-color- utility classnames
 */

$text-colors: (
    primary: var(--color-primary),
    secondary: var(--color-secondary),
    small: var(--color-small),
    text: var(--color-text),
    heading: var(--color-heading),
);
