/**
 * For each container is generated ".container-NAME" classname, except
 * for "default", for which ".container" classname is generated
 *
 * 'paddings' property uses 'padding' mixin and allows 'inherit' property value.
 * For example 'xs: 0 inherit' will set only top and bottom paddings and 'xs: inherit 0'
 * will set left and right paddings.
 *
 * @demo
 *   <div class="container"></div>
 *   <div class="container container-footer"></div>
 */

$containers: (
    'default': (
        'max-widths': (
            // sm: 480px,
            // md: 720px,
            // lg: 960px,
            // xl: 1140px,
            // xxl: 1440px,
        ),

        // It's prefered not to set any paddings on default and use
        // modifier instead
        'paddings': (
            // xs: 0,
            // sm: 0,
            // md: 0,
            // lg: 0,
            // xl: var(--spacer-7),
        )
    ),

    // Generates 'container-h', a container with left and right paddings
    // which has size of 1 column
    'h': (
        'max-widths': (
            // sm: 480px,
            // md: 720px,
            // lg: 960px,
            // xl: 1140px,
            // xxl: 1440px,
        ),
        'paddings': (
            xs: inherit var(--spacer-3),
            md: inherit var(--spacer-5),
            xl: inherit var(--spacer-7),
        )
    ),

    // Generates 'container-v', a container with top and bottom paddings
    // which has size of 1 column
    'v': (
        'paddings': (
            xs: var(--spacer-3) inherit,
            md: var(--spacer-5) inherit,
            xl: var(--spacer-7) inherit,
        )
    ),
);
