/**
 * Layout order constants
 */

$z-index-content: unset;
$z-index-under-header: 9;
$z-index-header: 10;
$z-index-dropdown: 11;
$z-index-modal: 1400;
$z-index-select: 1500;
$z-index-tooltip: 1600; // Above tinymce

/**
 * Border radius
 */

$border-radius: 4px;
$border-radius-small: 2px;

/**
 * Spacings
 *
 * Settings for spacing between most of the elements
 *
 * @see html/src/stylesheets/components/_blocks.scss
 * @see html/src/stylesheets/components/form/_footer.scss
 * @see html/src/stylesheets/components/form/_group.scss
 * @see html/src/stylesheets/components/text/_typography.scss
 * @see html/src/stylesheets/components/text/_lists.scss
 * @demo
 *   @include margins($spacing);
 *   @include margins($spacing-medium);
 *   @include margins-top($spacing);
 *   @include margins-bottom($spacing);
 *   @include margins-top-bottom($spacing);
 */

$spacing: (
    xs:  10px,
    sm:  10px,
    md:  20px,
    lg:  20px,
    xl:  30px,
    xxl: 30px,
);

$spacing-none: (
    xs:  0,
    sm:  0,
    md:  0,
    lg:  0,
    xl:  0,
    xxl: 0,
);

$spacing-heading: (
    xs:  1.0rem,
    md:  2.0rem
);

$spacing-text: (
    xs:  1.0rem,
    md:  2.0rem
);


/**
 * Navigation bar
 */

$nav-link-padding-x: var(--spacer-3);
$nav-link-padding-y: var(--spacer-2);


/**
 * Breadcrumbs
 */

$breadcrumb-link-padding-x: var(--spacer-3);
$breadcrumb-link-padding-y: var(--spacer-2);
$breadcrumb-min-height: var(--spacer-4);


/**
 * Badge
 */

$badge-padding-x: calc(var(--spacer-3) - 4px);
$badge-padding-y: 0;


/**
 * Dropdown
 */

$dropdown-padding-x: var(--spacer-3);
$dropdown-padding-y: var(--spacer-4);
$dropdown-shadow: 0 1px 0 rgba(var(--color-shadow-raw), 0.04), 0 8px 64px rgba(var(--color-shadow-raw), 0.16);
$dropdown-menu-min-width: 304px;


/**
 * Tooltip
 */

$tooltip-padding-x: var(--spacer-4);
$tooltip-padding-y: var(--spacer-3);
$tooltip-shadow: 0 1px 0 rgba(var(--color-shadow-raw), 0.04), 0 -1px 0 rgba(var(--color-shadow-raw), 0.04), 0 4px 16px rgba(var(--color-shadow-raw), 0.04);
$tooltip-max-width: 450px;


/**
 * Button
 */

$button-shadow: 0 1px 0 rgba(var(--color-shadow-raw), 0.04), 0 4px 16px rgba(var(--color-shadow-raw), 0.04);
