/**
 * Link styles
 *
 * Settings for the anchor elements
 * For each link style is generated "%link--style-NAME" placeholder selector
 * For each decoration is generated "%link--decoration-NAME" placeholder selector
 *
 * See extends/_links.scss
 * See mixins/components/_link.scss
 *
 * @demo
 *   @extend %link--style-heading;
 */

$link-styles: (
    // Default link
    'default': (
        normal:             var(--color-text),
        hover:              var(--color-heading),
        active:             var(--color-heading),
    ),

    // Small link style
    'small': (
        normal:             var(--color-small),
        hover:              var(--color-heading),
        active:             var(--color-heading),
    ),

    // Heading link style
    'heading': (
        normal:             var(--color-heading),
        hover:              var(--color-primary),
        active:             var(--color-primary),
    ),

    // Primary link style
    'primary': (
        normal:             var(--color-primary),
        hover:              var(--color-heading),
        active:             var(--color-heading),
    ),
);

$link-decorations: (
    'default': (
        normal:             none,
        hover:              none,
        active:             none,
    ),
    'none': (
        normal:             none,
        hover:              none,
        active:             none,
    )
);


/**
 * Tab key focus style
 */

$link-focus-visible-shadow: 0 0 0 3px rgba(var(--color-focus-raw), 0.4), 0 0 1px 1px rgba(var(--color-focus-raw), 0.7);