{% macro filters(selectmode) %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="sonata-action-element js-media-remove" href="javascript: void 0;">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                            {{ 'delete' | trans({}, 'OctaveCMSBundle') }}
                        </a>
                    </li>
                    <li class="dropdown sonata-actions">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            {{ 'add_new' | trans({}, 'OctaveCMSBundle') }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a class="sonata-action-element js-media-add-folder" href="javascript: void 0;">
                                    <i class="fa fa-folder-o" aria-hidden="true"></i>
                                    {{ 'folder' | trans({}, 'OctaveCMSBundle') }}
                                </a>
                            </li>
                            <li>
                                <a class="sonata-action-element js-media-upload-file" href="javascript: void 0;">
                                    <i class="fa fa-file-o" aria-hidden="true"></i>
                                    {{ 'upload_file' | trans({}, 'OctaveCMSBundle') }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endmacro %}