{% from 'macros/icon.twig' import icon %}

{# "General" form #}
{% include 'partials/form/text.twig' with {
    label: 'Article Title',
    name: 'title',
    value: 'Виды коммерческой недвижимости: сектора, типы и форматы',
    maxlength: 255,
    required: true
} %}

{# Category #}
{% include 'partials/form/select.twig' with {
    label: 'Category',
    name: 'category',
    value: 'a',
    values: [
        {id: 'a', text: 'Основы'},
        {id: 'b', text: 'Lorem ipsum'},
        {id: 'c', text: 'Dolor sit amet'}
    ],
    required: true
} %}

{# Author #}
{% include 'partials/form/select.twig' with {
    label: 'Author',
    name: 'author',
    value: 'a',
    values: [
        {id: 'a', text: 'Андрей Богданов', image: '/assets/images/temp/select-user.png'},
        {id: 'b', text: 'Lorem ipsum', image: '/assets/images/temp/select-user.png'},
        {id: 'c', text: 'Dolor sit amet', image: '/assets/images/temp/select-user.png'}
    ],
    required: false
} %}


<div class="row row--pad form-group">
    <div class="col col--xs-12 col--lg-6">

        {# Thumbnail image #}
        {% include 'partials/form/image.twig' with {
            label: 'Thumbnail',
            name: 'thumbnail',
            value: {
                id: 'a',
                thumbnail: '/assets/images/temp/image-thumb-1.png',
                preview: '/assets/images/temp/image-thumb-1.png',
                fileName: 'academy_thumb_01.jpg',
                width: 620,
                height: 620
            },
            required: true
        } %}

    </div>
    <div class="col col--xs-12 col--lg-6 form-group mt-lg-0">

        {# Background image #}
        {% include 'partials/form/image.twig' with {
            label: 'Background Image',
            name: 'background',
            value: {
                id: 'a',
                thumbnail: '/assets/images/temp/image-thumb-2.png',
                preview: '/assets/images/temp/image-thumb-2.png',
                fileName: 'academy_background_01.jpg',
                width: 1620,
                height: 675
            },
            required: true
        } %}

    </div>
</div>


{# URL #}
{% include 'partials/form/text.twig' with {
    'label': 'URL',
    'labelTooltip': 'Enim reprehenderit reprehenderit minim nisi eu deserunt elit sit nulla.',
    'name': 'title',
    'value': 'vidy-kommercheskoi-nedvizhimosti-sektora-tipy-i-formaty',
    'prefixText': 'academy/',
    'required': true
} %}

{# Date #}
{% include 'partials/form/date.twig' with {
    'label': 'Publication date',
    'name': 'date',
    'value': '2020-07-21 10:00:00',
    'required': true
} %}