{% from 'macros/icon.twig' import icon %}
{% set namePrefix = 'content' %}

<div class="card-list">
    
    {% include 'partials/page-content/content-section-general.twig' with {
        'namePrefix': namePrefix,
        'values': {
            'title': {
                'en': 'Id ut magna consequat aute culpa enim nostrud consequat',
                'ru': 'Duis qui excepteur irure Lorem ex officia elit occaecat aute eiusmod'
            },
            'url': 'id-ut-magna-consequat-aute-culpa-enim-nostrud-consequat'
        }
     } %}

    {% include 'partials/article-edit/content-section-seo.twig' with {
        'namePrefix': namePrefix,
        'values': {
            'meta-title': {
                'en': 'Types of commercial real estate: sectors, types and formats',
                'ru': 'Виды коммерческой недвижимости: сектора, типы и форматы'
            },
            'meta-keywords': {'en': '', 'ru': ''},
            'meta-description': {'en': '', 'ru': ''}
        }
    } %}

    {% include 'partials/page-content/content-section-content.twig' with {
        'namePrefix': namePrefix
    } %}

    
</div>
