{# "General" form section #}
{% set sectionId = sectionId|default('section-' ~ random()) %}

{# Localized title, duplicate for each content, in the real app this won't be a copy #}
<div class="tabs-contents">
    {% for languageItem in languages %}
        <div class="tabs-contents__content" {% if not loop.first %}aria-hidden="true"{% endif %} data-tabs-content-id="{{ languageItem.id }}">
            {# Locale tab content #}
            {% set language = languageItem.id %}

            {# Title #}
            <div class="form-group">
                {% include 'partials/form/label.twig' with ({
                    text: 'Title',
                    attrs: {
                        for: sectionId ~ '-title'
                    }
                }) %}

                {% include 'partials/form/text.twig' with {
                    id: sectionId ~ '-title',
                    name: 'title[' ~ language ~ ']',
                    value: 'Id ut magna consequat aute culpa enim nostrud consequat',
                    maxlength: 512,
                    required: true
                } %}
            </div>

        </div>
    {% endfor %}
</div>


{# URL #}
<div class="form-group">
    {% include 'partials/form/label.twig' with ({
        text: 'URL',
        tooltip: 'Enim reprehenderit reprehenderit minim nisi eu deserunt elit sit nulla.',
        attrs: {
            for: sectionId ~ '-url'
        }
    }) %}

    {% include 'partials/form/text.twig' with {
        id: sectionId ~ '-url',
        name: 'url',
        pattern: '[A-Za-z0-9-_]*',
        value: 'id-ut-magna-consequat-aute-culpa-enim-nostrud-consequat',
        required: true
    } %}
</div>
