{# "General" form section #}
{% set sectionId = sectionId|default('section-' ~ random()) %}
{% set values = values|default({}) %}

<div class="card accordion accordion--collapsed"
    data-plugin="accordion"
    data-accordion-active-heading-parent-class-name="ui-dark"
>
    <div class="card__anchor" id="general"></div>

    {% include 'partials/section-header.twig' with {
        'title': 'General',
        'id': sectionId,
        
        'withAccordion': true,
        'expanded': false,
        'accordionExpandedClassName': 'ui-dark',
    } %}
    
    <div role="region" aria-labelledby="{{ sectionId }}Title" id="{{ sectionId }}" aria-hidden="true" class="accordion__content card__content">
        <div class="card__body">

            {# Localized title, duplicate for each content, in the real app this won't be a copy #}
            <div class="tabs-contents">
                {% for languageItem in languages %}

                    {# Locale tab content #}
                    <div class="tabs-contents__content" {% if not loop.first %}aria-hidden="true"{% endif %} data-tabs-content-id="{{ languageItem.id }}">

                        {# Title #}
                        <div class="form-group">
                            {% include 'partials/form/label.twig' with ({
                                text: 'Title',
                                attrs: {
                                    for: sectionId ~ '-title-' ~ languageItem.id
                                }
                            }) %}

                            {% include 'partials/form/text.twig' with {
                                id: sectionId ~ '-title-' ~ languageItem.id,
                                name: namePrefix ~ '[translations][' ~ languageItem.id ~ '][title]',
                                value: values.title[languageItem.id]|default(''),
                                maxlength: 512,
                                required: true
                            } %}
                        </div>

                    </div>
                {% endfor %}
            </div>


            {# URL #}
            <div class="form-group">
                {% include 'partials/form/label.twig' with ({
                    text: 'URL',
                    tooltip: 'Enim reprehenderit reprehenderit minim nisi eu deserunt elit sit nulla.',
                    attrs: {
                        for: sectionId ~ 'url'
                    }
                }) %}

                {% include 'partials/form/text.twig' with {
                    id: sectionId ~ 'url',
                    name: namePrefix ~ '[url]',
                    pattern: '[A-Za-z0-9-_]*',
                    value: values.url|default(''),
                    required: true
                } %}
            </div>

        </div>
    </div>
</div>