{% from 'macros/icon.twig' import icon %}

<div class="card-list">
    <div class="card accordion accordion--collapsed"
        data-plugin="accordion"
        data-accordion-active-heading-parent-class-name="ui-dark"
    >
        {% include 'partials/article-edit/content-section-header.twig' with {
            'title': 'General',
            'id': 'contentGeneral',
            'expanded': false,
        } %}
        <div role="region" aria-labelledby="contentGeneralTitle" id="contentGeneral" aria-hidden="true" class="accordion__content card__content">
            <div class="card__body">
                {% include 'partials/page-content/content-section-general.twig' %}
            </div>
        </div>
    </div>

    <div class="card accordion accordion--collapsed"
        data-plugin="accordion"
        data-accordion-active-heading-parent-class-name="ui-dark"
    >
        {% include 'partials/article-edit/content-section-header.twig' with {
            'title': 'SEO Settings',
            'id': 'contentSEO'
        } %}
        <div role="region" aria-labelledby="contentSEOTitle" id="contentSEO" aria-hidden="true" class="accordion__content card__content">
            <div class="card__body">
                {% include 'partials/article-edit/content-section-seo.twig' %}
            </div>
        </div>
    </div>

    <div class="card accordion accordion--expanded"
        data-plugin="accordion"
        data-accordion-active-heading-parent-class-name="ui-dark"
    >
        {% include 'partials/article-edit/content-section-header.twig' with {
            'title': 'Content',
            'id': 'contentSections',
            'expanded': true,
            'withEditor': true
        } %}

        <div role="region" aria-labelledby="contentSectionsTitle" id="contentSections" aria-hidden="false" class="accordion__content card__content"
            {# Add sorting #}
            data-plugin="sortableList"

            {# Since items are small, disable invert swap #}
            {# data-sortable-list-invert-swap="true" #}
        >

            <div class="card__body card-list card-list--small js-sortable-list-list">
                {# Page content sections, opens external editor #}

                <div class="card card--draggable js-sortable-list-item">
                    {% include 'partials/page-content/content-section-content-header.twig' with {
                        'title': 'Intro',
                        'changed': true,
                        'draggable': true
                    } %}
                </div>

                <div class="card card--draggable js-sortable-list-item">
                    {% include 'partials/page-content/content-section-content-header.twig' with {
                        'title': 'About Us',
                        'changed': true,
                        'draggable': true
                    } %}
                </div>

                <div class="card card--draggable js-sortable-list-item">
                    {% include 'partials/page-content/content-section-content-header.twig' with {
                        'title': 'Mission',
                        'changed': true,
                        'draggable': true
                    } %}
                </div>

                <div class="card card--draggable js-sortable-list-item">
                    {% include 'partials/page-content/content-section-content-header.twig' with {
                        'title': 'Values',
                        'changed': true,
                        'draggable': true
                    } %}
                </div>

                <div class="card card--draggable js-sortable-list-item">
                    {% include 'partials/page-content/content-section-content-header.twig' with {
                        'title': 'Philosophy',
                        'changed': true,
                        'draggable': true
                    } %}
                </div>

            </div>
        
        </div>
    </div>
</div>
