<div class="ui-light-background form-sidebar">
    <header class="form-sidebar__header px-5 py-5 bb-1">

    </header>
    <header class="form-sidebar__content px-5 py-5">

    </header>
    <footer class="form-sidebar__footer px-5 py-5 bt-1">

    </footer>
</div>
