{% from 'macros/icon.twig' import icon %}

<div class="form-sidebar card card--small">
    <header class="form-sidebar__header card__header">
        
        {# Switch #}
        <div class="form-control-switch">
            <input class="form-control-switch__input" type="checkbox" id="formPageOnline" name="active" value="1" checked="checked" />
            <label class="form-control-switch__label" for="formPageOnline">Online</label>
            <span class="form-control-switch__icon"></span>
        </div>

    </header>
    <div class="card__content">
        <div class="form-sidebar__content card__body card__body--short">
            CONTENT
        </div>
        <div class="form-sidebar__content card__body card__body--short">
            CONTENT
        </div>
        <div class="form-sidebar__content card__body">
            CONTENT
        </div>
        <footer class="form-sidebar__footer card__footer">
            
            <div class="btn-group btn-group--full">
                <button type="submit" class="btn-group__fill btn btn--secondary btn--lg"><span class="btn__content">
                    Update
                </span></button>

                <div class="dropdown">

                {# More options dropdown #}
                <div class="dropdown" data-plugin="dropdown" data-dropdown-placement="bottom-end">
                    <button class="dropdown__toggle btn btn--secondary btn--lg btn--square" title="More options" aria-expanded="false" id="moreOptionsDropdown">
                        <span class="btn__content">
                            {{ icon('dropdown-arrow', {width: 10, height: 10}) }}
                        </span>
                    </button>
                    
                    <div class="dropdown__menu d-none" aria-labelledby="moreOptionsDropdown">
                        <ul class="dropdown__menu__content">
                            <li>
                                <a href="#" class="dropdown__item">
                                    Schedule
                                </a>
                            </li>
                            <li class="dropdown__divider"></li>
                            <li class="dropdown__form">
                                Or maybe here should be a form???
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </footer>
    </div>
</div>
