{% from 'macros/icon.twig' import icon %}

<div class="row media-layout card__content">
    <div class="col ui-background media-layout__folders ui-gray ui-background js-media-treeview">
        
        <div class="media-layout__folders__content">
            {% include 'partials/media/tree.twig' %}
        </div>


        {# Add folder #}
        <div class="media-layout__folders__footer">
            {% include 'partials/media/tree-add-folder.twig' %}
        </div>

    </div>
    <div class="col col--xs-fill media-layout__content card__body ui-light ui-background js-media-filelist">

        {% include 'partials/media/file-list.twig' %}
        
    </div>
    <div class="col media-layout__info ui-light ui-background">
        
        {# Folder is selected view #}
        <script type="text/template" data-template-variable="info" class="js-media-info-folder">
            @TODO
        </script>

        {# List of files are selected view #}
        <script type="text/template" data-template-variable="info" class="js-media-info-files">
            <div class="media-layout__info__image">
                @TODO
            </div>
        </script>

        {# Single files is selected view #}
        <script type="text/template" data-template-variable="info" class="js-media-info-file">
            <div class="media-layout__info__image">
                @TODO
            </div>
        </script>

    </div>
</div>