{% from 'macros/icon.twig' import icon %}
{% from 'partials/blocks/form_widget.twig' import form_widget %}


<header class="card__header ui-light">
    <div class="group group--5 group--middle">

        {# Close button #}
        <a class="btn btn--md btn--tetriary btn--square js-modal-close" tabindex="0" role="button" aria-label="Close Media Library">
            <span class="btn__content">{{ icon('close', {width: 12, height: 12}) }}</span>
        </a>

        {# Title #}
        <h2 class="group__fill">Media Library</h2>

        <div><div class="group group--2 group--middle group--nowrap">
            {# Search #}
            <form class="js-media-file-search">
                {{ form_widget({
                    name: 'search',
                    full_name: 'search',
                    type: 'search',
                    attr: {
                        placeholder: 'Search',
                        class: 'form-control--small form-control--pill'
                    },
                    group_attr: {
                        class: 'input-group--small input-group--pill'
                    }
                }) }}
            </form>

            {# Upload button #}
            <a role="button" tabindex="0" class="btn btn--secondary btn--pill"><span class="btn__content">
                {{ icon('add-small', {width: 10, height: 10}) }}
                <span>Upload</span>
            </span></a>

        </div></div>
</header>