{% from 'macros/icon.twig' import icon %}

<ol class="tree">
    <li class="tree-loader">
        <div class="loader"></div>
    </li>
    
    {# Tree view #}
    <script type="text/template">
        <% each(items, (id) => { %>
            <% var item = store.folders.list[id].get(); %>

            <li class="
                    tree__item
                    js-tree-view-item
                    <%- item.expanded ? 'tree__item--expanded' : '' %>
                    <%- item.disabled ? 'tree__item--disabled' : '' %>
                "
                data-id="<%- item.id %>"
            >
                
                <div class="
                        tree-item
                        <%- item.id === selected ? 'tree-item--active' : '' %>
                        <%- item.children && item.children.length ? 'tree-item--with-children' : '' %>
                        js-tree-view-item-element
                    "
                    <% if (!item.disabled) { %>
                        role="button" tabindex="0"
                    <% } %>
                >
                    <div class="tree-item__content">
                        <% if (item.loading) { %>
                            <span class="tree-item__loader"><span class="loader loader--faded loader--xs"></span></span>
                        <% } %>
                        <span class="tree-item__toggler js-tree-view-item-toggler" role="button">
                            {{ icon('tree-arrow', {width: 10, height: 10, class: 'tree-item__toggler__arrow'}) }}
                        </span>
                        <div class="tree-item__title js-tree-view-item-title">
                            <%- item.name %>
                        </div>
                    </div>
                </div>

                <ol class="tree__list">
                    <%= template({store: store, items: item.children, selected: selected, root: false, depth: depth + 1}) %>
                </ol>
            </li>
        <% }) %>
    </script>
</ol>