{% from 'macros/icon.twig' import icon %}

<div class="card ui-light ui-background">
    <div class="card__header">
        
        <div class="group group--2">
            {# Tabs #}
            <div><div class="group group--5">
                <div>
                    <a href="#" class="card__header__tab btn btn--tab btn--no-paddings is-active"><span class="btn__content">
                        <span class="sr-only">Show</span>
                        All Items
                    </span></a>
                </div>
                <div>
                    <a href="#" class="card__header__tab btn btn--tab btn--no-paddings"><span class="btn__content">
                        <span class="sr-only">Show only</span>
                        Published
                    </span></a>
                </div>
                <div>
                    <a href="#" class="card__header__tab btn btn--tab btn--no-paddings"><span class="btn__content">
                        <span class="sr-only">Show only</span>
                        Draft
                    </span></a>
                </div>
            </div></div>


            {# Spacer #}
            <div class="group__fill"></div>

            {# Search #}
            {% include 'partials/form/text.twig' with {
                name: 'search',
                className: 'form-control--small form-control--pill input-group--small input-group--pill',
                placeholder: 'Search',
                prefixIcon: {
                    id: 'search',
                    width: 15,
                    height: 16
                }
            } %}

            {# Filters #}
            {% include 'partials/crud-list/filter.twig' %}


            {# New item #}
            <a href="#" class="btn btn--secondary btn--pill"><span class="btn__content">
                {{ icon('add-small', {width: 10, height: 10}) }}
                <span>New Item</span>
            </span></a>
        </div>

    </div>
    <div class="card__body card__body--shorter">
        <div class="card__content">
            
            {% include 'partials/crud-list/table.twig' %}

        </div>    
    </div>
    <div class="card__footer card__footer--short">
        
        {% include 'partials/crud-list/navigation.twig' %}

    </div>
</div>
