{% from 'macros/icon.twig' import icon %}

{% from 'partials/blocks/form_rows.twig' import form_rows %}

{# Sitemap dropdown #}
<div class="dropdown" data-plugin="dropdown" data-dropdown-placement="bottom-end">
    <button type="button" class="dropdown__toggle btn btn--dropdown btn--dropdown--heading btn--pill" aria-expanded="false" id="crudListFilters">
        <span class="btn__content">
            <span>Filter</span>
            {{ icon('dropdown-arrow', {width: 10, height: 10}) }}
        </span>
    </button>
    
    <div class="dropdown__menu dropdown__menu--wide d-none" aria-labelledby="crudListFilters">
        <div class="dropdown__menu__content">
            <div class="dropdown__form">

                {{ form_rows([
                    {
                        name: 'company',
                        full_name: 'company',
                        type: 'choice',
                        label: 'Company',
                        value: 'bbb',
                        required: true,
                        choices: [
                            { value: '', label: 'All'},
                            { value: 'a', label: 'Accent Capital'},
                            { value: 'b', label: 'Accent Asset Management'},
                        ]
                    }
                ]) }}
                
            </div>
        </div>
    </div>
</div>
