{% from 'macros/icon.twig' import icon %}
{% from 'partials/blocks/form_widget.twig' import form_widget %}


<div class="group group--6 group--middle">
    <div>
        <div class="group group--middle group--2">
            {{ form_widget({
                name: 'page',
                full_name: 'page',
                value: '1',
                attr: {
                    class: 'form-control--small form-control--narrow form-control--center form-control--pill',
                    type: 'number',
                    min: 1,
                    max: 3
                },
            }) }}
            <span>of&nbsp; 3</span>
        </div>
    </div>
    <div class="group__right text-color-small text-small">
        1–60 of 1 838 items
    </div>
    <div>
        <div class="group group--2">
            <a href="#" class="btn btn--tetriary btn--square btn--pill is-disabled" aria-label="Previous page with results"><span class="btn__content">
                {{ icon('arrow-previous', {width: 32, height: 32}) }}
            </span></a>
            <a href="#" class="btn btn--tetriary btn--square btn--pill" aria-label="Next page with results"><span class="btn__content">
                {{ icon('arrow-next', {width: 32, height: 32}) }}
            </span></a>
        </div>
    </div>
</div>