{% from 'macros/icon.twig' import icon %}

<h2 class="text-small mb-2">
    <b>Companies</b>
</h2>

<nav class="mb-3">
    <a class="btn btn--align-left btn--pill btn--full btn--primary">
        <span class="btn__content"><span class="text-truncate">All</span></span>
    </a>
    <a class="btn btn--align-left btn--full btn--link">
        <span class="btn__content"><span class="text-truncate">Accent Capital</span></span>
    </a>
    <a class="btn btn--align-left btn--full btn--link">
        <span class="btn__content"><span class="text-truncate">Accent Asset Management Lorem Ipsum</span></span>
    </a>
</nav>

<a role="button" tabindex="0" class="btn btn--tetriary btn--square btn--pill" aria-label="Settings"><span class="btn__content">
    {{ icon('settings', {width: 16, height: 16}) }}
</span></a>
