{% from 'macros/icon.twig' import icon %}
{% from 'partials/blocks/form_row.twig' import form_row %}


{% set sortable = sortable|default(true) %}

{% set data = [
    {
        'id': 34346564633,
        'image': '/assets/images/temp/table/1.png',
        'name': 'Александр Самонов',
        'company': 'Accent Capital',
        'published': true,
    },
    {
        'id': 57867856745,
        'image': '/assets/images/temp/table/2.png',
        'name': 'Дмитрий Хлебников',
        'company': 'Accent Asset Management',
        'published': true,
    },
    {
        'id': 36546345634,
        'image': '/assets/images/temp/table/3.png',
        'name': 'Илья Хабаров',
        'company': 'Accent Capital',
        'published': true,
    },
    {
        'id': 1234523465,
        'image': '/assets/images/temp/table/4.png',
        'name': 'Владимир Рыбаков',
        'company': 'Accent Capital',
        'published': true,
    },
    {
        'id': 74374236345,
        'image': '/assets/images/temp/table/5.png',
        'name': 'Олеся Никитенко',
        'company': 'Accent Asset Management',
        'published': false,
    },
    {
        'id': 48567346532,
        'image': '/assets/images/temp/table/6.png',
        'name': 'Антон Комаров',
        'company': 'Accent Asset Management',
        'published': true,
    },
    {
        'id': 458457643532,
        'image': '/assets/images/temp/table/7.png',
        'name': 'Маргарита Ермошкина',
        'company': 'Accent Capital',
        'published': true,
    },
    {
        'id': 356757345634,
        'image': '/assets/images/temp/table/8.png',
        'name': 'Римма Шилова',
        'company': 'Accent Capital',
        'published': true,
    }
] %}

<div class="data-table"
    data-plugin="{% if sortable %}sortableList{% endif %} dataTable"
    data-data-table-select-all-selector='[name="selectall"]'
    data-data-table-select-item-selector='[name="selected[]"]'
>

    <table class="table">
        <thead>
            <tr>
                <th>
                    {{ form_row({
                        id: 'crud_table_selectall_' ~ random(),
                        type: 'checkbox',
                        name: 'selectall',
                        full_name: 'selectall',
                        show_label: false
                    }) }}
                </th>
                <th></th>
                <th>Name</th>
                <th>Company</th>
                <th class="text-right">
                    <a role="button" tabindex="0" class="btn btn--tetriary btn--square btn--pill"><span class="btn__content">
                        {{ icon('settings', {width: 16, height: 16}) }}
                    </span></a>
                </th>
            </tr>
        </thead>
        <tbody class="js-sortable-list-list">
            {% for item in data %}
                {% include 'partials/crud-list/table-row.twig' with {
                    item: item,
                    sortable: sortable
                } %}
            {% endfor %}

            <script type="text/template" data-template-variable="item">
                {% include 'partials/crud-list/table-row-js.twig' with {
                    sortable: sortable
                } %}
            </script>
        </tbody>
    </table>
</div>
