{# "SEO" form section #}
{% set sectionId = sectionId|default('section-' ~ random()) %}
{% set values = values|default({}) %}

{% from 'partials/blocks/form_rows.twig' import form_rows %}


<div class="card accordion accordion--collapsed"
    data-plugin="accordion"
    data-accordion-active-heading-parent-class-name="ui-dark"
>
    <div class="card__anchor" id="seo"></div>

    {% include 'partials/section-header.twig' with {
        'title': 'SEO Settings',
        'id': sectionId,
        
        'withAccordion': true,
        'expanded': false,
        'accordionExpandedClassName': 'ui-dark',
    } %}

    <div role="region" aria-labelledby="{{ sectionId }}-title" id="{{ sectionId }}" aria-hidden="true" class="accordion__content card__content">
        <div class="card__body">

            {# Localized title, duplicate for each content, in the real app this won't be a copy #}
            <div class="tabs-contents">
                {% for languageItem in languages %}
                    {# Locale tab content #}
                    <div class="tabs-contents__content" {% if not loop.first %}aria-hidden="true"{% endif %} data-tabs-content-id="{{ languageItem.id }}">
                        {% set language = languageItem.id %}

                        {{ form_rows([
                            {
                                type: 'text',
                                label: 'Meta title',
                                name: namePrefix ~ '[translations][' ~ language ~ '][meta-title]',
                                full_name: namePrefix ~ '[translations][' ~ language ~ '][meta-title]',
                                value: values['meta-title'][language]|default(''),
                                required: false,
                                attr: {
                                    maxlength: 512,
                                }
                            },
                            {
                                type: 'textarea',
                                label: 'Meta keywords',
                                name: namePrefix ~ '[translations][' ~ language ~ '][meta-keywords]',
                                full_name: namePrefix ~ '[translations][' ~ language ~ '][meta-keywords]',
                                value: values['meta-keywords'][language]|default(''),
                                required: false,
                            },
                            {
                                type: 'textarea',
                                label: 'Meta description',
                                name: namePrefix ~ '[translations][' ~ language ~ '][meta-description]',
                                full_name: namePrefix ~ '[translations][' ~ language ~ '][meta-description]',
                                value: values['meta-description'][language]|default(''),
                                required: false,
                            },
                        ]) }}

                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>