{% set language = language|default('en') %}

{# Title #}
<div class="form-group">
    {% include 'partials/form/label.twig' with ({
        text: 'Text Body',
        attrs: {
            for: 'input-5785673542345-' ~ language
        }
    }) %}

    {% include 'partials/form/richtexteditor.twig' with {
        id: 'input-5785673542345-' ~ language,
        name: 'text[' ~ language ~ ']',
        value: '
            <h1>Hello world</h1>
            <p>Culpa commodo non <a href="#">reprehenderit magna exercitation</a> nisi et in proident voluptate ipsum Lorem aute anim. Dolor culpa deserunt sint adipisicing et velit velit. Est excepteur sint aute nostrud velit sit nostrud nulla. Ullamco labore velit labore adipisicing incididunt commodo nulla anim id magna veniam nulla aliqua esse. Esse sunt amet voluptate veniam occaecat exercitation reprehenderit et velit consequat proident.</p>
            <table border="1">
                <tbody>
                <tr>
                <td>Lorem ipsum</td>
                <td>Dolor sit</td>
                <td>Amet</td>
                </tr>
                <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                </tr>
                </tbody>
            </table>

        ',
        required: false
    } %}
</div>