{# "SEO" form section #}
{% set sectionId = sectionId|default('section-' ~ random()) %}
{% set values = values|default({}) %}

<div class="card accordion accordion--collapsed"
    data-plugin="accordion"
    data-accordion-active-heading-parent-class-name="ui-dark"
>
    <div class="card__anchor" id="seo"></div>

    {% include 'partials/section-header.twig' with {
        'title': 'SEO Settings',
        'id': sectionId,
        
        'withAccordion': true,
        'expanded': false,
        'accordionExpandedClassName': 'ui-dark',
    } %}

    <div role="region" aria-labelledby="{{ sectionId }}Title" id="{{ sectionId }}" aria-hidden="true" class="accordion__content card__content">
        <div class="card__body">

            {# Localized title, duplicate for each content, in the real app this won't be a copy #}
            <div class="tabs-contents">
                {% for languageItem in languages %}
                    {# Locale tab content #}
                    <div class="tabs-contents__content" {% if not loop.first %}aria-hidden="true"{% endif %} data-tabs-content-id="{{ languageItem.id }}">
                        {% set language = languageItem.id %}

                        {# Meta title #}
                        <div class="form-group">
                            {% include 'partials/form/label.twig' with ({
                                text: 'Meta title',
                                attrs: {
                                    for: sectionId ~ '-meta-title-' ~ language
                                }
                            }) %}

                            {% include 'partials/form/text.twig' with {
                                id: sectionId ~ '-meta-title-' ~ language,
                                name: namePrefix ~ '[translations][' ~ language ~ '][meta-title]',
                                value: values['meta-title'][language]|default(''),
                                maxlength: 512,
                                required: true
                            } %}
                        </div>

                        {# Meta keywords #}
                        <div class="form-group">
                            {% include 'partials/form/label.twig' with ({
                                text: 'Meta keywords',
                                attrs: {
                                    for: sectionId ~ '-meta-keywords-' ~ language
                                }
                            }) %}

                            {% include 'partials/form/textarea.twig' with {
                                id: sectionId ~ '-meta-keywords-' ~ language,
                                name: namePrefix ~ '[translations][' ~ language ~ '][meta-keywords]',
                                value: values['meta-keywords'][language]|default(''),
                                required: false
                            } %}
                        </div>

                        {# Meta description #}
                        <div class="form-group">
                            {% include 'partials/form/label.twig' with ({
                                text: 'Meta description',
                                attrs: {
                                    for: sectionId ~ '-meta-description-' ~ language
                                }
                            }) %}

                            {% include 'partials/form/textarea.twig' with {
                                id: sectionId ~ '-meta-description-' ~ language,
                                name: namePrefix ~ '[translations][' ~ language ~ '][meta-description]',
                                value: values['meta-description'][language]|default(''),
                                required: false
                            } %}
                        </div>

                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>