{% set namePrefix = namePrefix|default('') %}

<div class="card accordion accordion--expanded"
    data-plugin="accordion"
    data-accordion-active-heading-parent-class-name="ui-dark"
>
    <div class="card__anchor" id="article-content"></div>

    {% include 'partials/section-header.twig' with {
        'title': 'Article Content',
        'id': 'contentSections',
        
        'withAccordion': true,
        'expanded': true,
        'accordionExpandedClassName': 'ui-dark',

        'withEditor': true,
    } %}

    <div role="region" aria-labelledby="contentSectionsTitle" id="contentSections" aria-hidden="false" class="accordion__content card__content"
        {# Add sorting and "Add" / "Remove" functionality #}
        data-plugin="sortableList collection"
        data-sortable-list-invert-swap="true"
    >

        {# Language tabs, duplicate for each content, in the real app this won't be a copy #}
        <div class="tabs-contents">
            {% for languageItem in languages %}
                {# Locale tab content #}
                <div class="tabs-contents__content" {% if not loop.first %}aria-hidden="true"{% endif %} data-tabs-content-id="{{ languageItem.id }}">
                    {% set sectionNamePrefix = namePrefix ~ '[translations][' ~ languageItem.id ~ '][content]' %}

                    {# Article content sections #}
                    <div class="card__body card-list card-list--small js-sortable-list-list js-collection-list">

                        {% include 'partials/article-edit/content-section-article-text.twig' with {
                            'namePrefix': sectionNamePrefix ~ '[0]',
                            'values': {
                                'order': 0,
                                'active': true,
                                'text': '<h1>Hello world</h1>
                                    <p>Culpa commodo non <a href="#">reprehenderit magna exercitation</a> nisi et in proident voluptate ipsum Lorem aute anim. Dolor culpa deserunt sint adipisicing et velit velit. Est excepteur sint aute nostrud velit sit nostrud nulla. Ullamco labore velit labore adipisicing incididunt commodo nulla anim id magna veniam nulla aliqua esse. Esse sunt amet voluptate veniam occaecat exercitation reprehenderit et velit consequat proident.</p>
                                    <table border="1">
                                        <tbody>
                                        <tr>
                                        <td>Lorem ipsum</td>
                                        <td>Dolor sit</td>
                                        <td>Amet</td>
                                        </tr>
                                        <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                '
                            }
                        } %}

                        {% include 'partials/article-edit/content-section-article-quote.twig' with {
                            'namePrefix': sectionNamePrefix ~ '[1]',
                            'values': {
                                'order': 1,
                                'active': false,
                                'text': 'Инвесторы, готовые рассматривать больший риск для достижения более высокой прибыли и готовые отложить получение инвестиционного результата на срок 2-3 года, могут инвестировать в более рискованные стили: Value-Added и Opportunistic, которые представляют собой более сложные бизнес-модели, предполагающие потенциал более высокой отдачи.',
                                'author': 'b'
                            }
                        } %}

                        {% include 'partials/article-edit/content-section-article-image.twig' with {
                            'namePrefix': sectionNamePrefix ~ '[2]',
                            'values': {
                                'order': 2,
                                'active': true,
                                'image': {
                                    id: 'qweasdzxc',
                                    thumbnail: '/assets/images/temp/image-thumb-3.png',
                                    url: '/assets/images/temp/image-thumb-3.png',
                                    fileName: 'academy_article_chart_01.jpg',
                                    width: 620,
                                    height: 620
                                },
                                'description': 'Сектора в портфеле инвестиций в недвижимость (на Июнь 2012, Мир без США)',
                                'source': 'INREV, Accent Capital. Уровни риска измерены качественно. Уровни диапазонов доходностей указаны для России (города Москва и Санкт-Петербург с областями) по данным расчетов Accent Capital за 2019 год, с учетом инвестиционных вознаграждений Accent Capital, до налогов. IRR (Internal Rate of Return) – внутренняя норма доходности (ВНД). Исключительно в качестве иллюстрации принципа соотношения риск/доходность.',
                                'full-width': '1'
                            }
                        } %}

                        {% include 'partials/article-edit/content-section-article-gallery.twig' with {
                            'namePrefix': sectionNamePrefix ~ '[3]',
                            'values': {
                                'order': 3,
                                'active': true,
                                'gallery': [
                                    {
                                        id: 'qweasdzxc',
                                        thumbnail: '/assets/images/temp/gallery-thumb-1.png',
                                        url: '/assets/images/temp/gallery-1.png',
                                        fileName: 'gallery-1.png',
                                        meta: {
                                            description: ''
                                        }
                                    },
                                    {
                                        id: 'sdfgsdfgsdfg',
                                        thumbnail: '/assets/images/temp/gallery-thumb-2.png',
                                        url: '/assets/images/temp/gallery-2.png',
                                        fileName: 'gallery-2.png',
                                        meta: {
                                            description: ''
                                        }
                                    },
                                    {
                                        id: 'ertyertyedfg',
                                        thumbnail: '/assets/images/temp/gallery-thumb-3.png',
                                        url: '/assets/images/temp/gallery-3.png',
                                        fileName: 'gallery-3.png',
                                        meta: {
                                            description: 'Целевые требования к активам'
                                        }
                                    },
                                    {
                                        id: 'xvbxcvbxcvb',
                                        thumbnail: '/assets/images/temp/gallery-thumb-4.png',
                                        url: '/assets/images/temp/gallery-4.png',
                                        fileName: 'gallery-4.png',
                                        meta: {
                                            description: 'Целевые требования к активам'
                                        }
                                    },
                                    {
                                        id: 'asdfasdfas',
                                        thumbnail: '/assets/images/temp/gallery-thumb-5.png',
                                        url: '/assets/images/temp/gallery-5.png',
                                        fileName: 'gallery-5.png',
                                        meta: {
                                            description: ''
                                        }
                                    },
                                    {
                                        id: 'rtyrurtyh',
                                        thumbnail: '/assets/images/temp/gallery-thumb-6.png',
                                        url: '/assets/images/temp/gallery-6.png',
                                        fileName: 'gallery-6.png',
                                        meta: {
                                            description: 'Целевые требования к активам'
                                        }
                                    }
                                ]
                            }
                        } %}

                        {% include 'partials/article-edit/content-section-article-table.twig' with {
                            'namePrefix': sectionNamePrefix ~ '[4]',
                            'values': {
                                'order': 4,
                                'active': true,
                                'title': 'Сектора и разновидности коммерческой недвижимости',
                                'columns': 3,
                                'rows': 3,
                                'header': '1'
                            }
                        } %}

                    </div>
                    <footer class="card__footer card__footer--short">

                        {# Generate HTML #}
                        {% set sectionTextHTML %}
                            {% include 'partials/article-edit/content-section-article-text.twig' with {
                                'namePrefix': sectionNamePrefix ~ '[__name__]',
                                'sectionId': 'section-' ~ random() ~ '-__name__'
                            } %}
                        {% endset %}
                        {% set sectionQuoteHTML %}
                            {% include 'partials/article-edit/content-section-article-quote.twig' with {
                                'namePrefix': sectionNamePrefix ~ '[__name__]',
                                'sectionId': 'section-' ~ random() ~ '-__name__'
                            } %}
                        {% endset %}
                        {% set sectionImageHTML %}
                            {% include 'partials/article-edit/content-section-article-image.twig' with {
                                'namePrefix': sectionNamePrefix ~ '[__name__]',
                                'sectionId': 'section-' ~ random() ~ '-__name__'
                            } %}
                        {% endset %}
                        {% set sectionGalleryHTML %}
                            {% include 'partials/article-edit/content-section-article-gallery.twig' with {
                                'namePrefix': sectionNamePrefix ~ '[__name__]',
                                'sectionId': 'section-' ~ random() ~ '-__name__'
                            } %}
                        {% endset %}
                        {% set sectionTableHTML %}
                            {% include 'partials/article-edit/content-section-article-table.twig' with {
                                'namePrefix': sectionNamePrefix ~ '[__name__]',
                                'sectionId': 'section-' ~ random() ~ '-__name__'
                            } %}
                        {% endset %}

                        {% include 'partials/article-edit/add-section.twig' with {
                            'sections': [
                                {'text': 'Text', 'html': sectionTextHTML},
                                {'text': 'Quote', 'html': sectionQuoteHTML},
                                {'text': 'Image', 'html': sectionImageHTML},
                                {'text': 'Image Gallery', 'html': sectionGalleryHTML},
                                {'text': 'Table', 'html': sectionTableHTML}
                            ]
                        } %}
                    </footer>

                </div>
            {% endfor %}
        </div>

    </div>
</div>