{% from 'macros/icon.twig' import icon %}
{% set namePrefix = 'article' %}

<div class="card-list">

    {% include 'partials/article-edit/content-section-general.twig' with {
        'namePrefix': namePrefix,
        'values': {
            'title': {
                'en': 'Types of commercial real estate: sectors, types and formats',
                'ru': 'Виды коммерческой недвижимости: сектора, типы и форматы'
            },
            'category': 'c',
            'author': 'b',
            'thumbnail': {
                id: 'a',
                thumbnail: '/assets/images/temp/image-thumb-1.png',
                url: '/assets/images/temp/image-thumb-1.png',
                fileName: 'academy_thumb_01.jpg',
                width: 620,
                height: 620
            },
            'background': {
                id: 'a',
                thumbnail: '/assets/images/temp/image-thumb-2.png',
                url: '/assets/images/temp/image-thumb-2.png',
                fileName: 'academy_background_01.jpg',
                width: 1620,
                height: 675
            },
            'url': 'vidy-kommercheskoi-nedvizhimosti-sektora-tipy-i-formaty',
            'date': '2020-07-17 03:24:27'
        }
    } %}
    

    {% include 'partials/article-edit/content-section-seo.twig' with {
        'namePrefix': namePrefix,
        'values': {
            'meta-title': {
                'en': 'Types of commercial real estate: sectors, types and formats',
                'ru': 'Виды коммерческой недвижимости: сектора, типы и форматы'
            },
            'meta-keywords': {'en': '', 'ru': ''},
            'meta-description': {'en': '', 'ru': ''}
        }
    } %}
    

    {% include 'partials/article-edit/content-section-article-content.twig' with {
        'namePrefix': namePrefix,
        'values': {}
    } %}
    
</div>
