{% set namePrefix = namePrefix|default('') %}
{% set sectionId = sectionId|default('section-' ~ random()) %}
{% set values = values|default({}) %}

<div class="card card--draggable accordion accordion--expanded js-sortable-list-item js-collection-item" data-plugin="accordion">

    {# Order input, used for backend to know #}
    <input type="hidden" name="{{ namePrefix }}[order]" value="{{ values.order|default(0) }}" />

    {# Header #}
    {% include 'partials/section-header.twig' with {
        'title': 'Image Gallery',
        'id': sectionId,
        'size': 'small',
        
        'draggable': true,

        'withOptions': true,

        'withActiveToggle': true,
        'active': values.active|default(false),

        'withAccordion': true,
        'expanded': true,
    } %}

    {# Content #}
    <div role="region" aria-labelledby="{{ sectionId }}Title" id="{{ sectionId }}" aria-hidden="false" class="accordion__content card__content">
        <div class="card__body">

            {# Image #}
            <div class="form-group">

                {% include 'partials/form/label.twig' with ({
                    text: 'Image',
                    additionalText: '620x620 min',
                    tooltip: 'Ex in et adipisicing et ad enim eu in eu anim.',
                    attrs: {
                        for: sectionId ~ '-image'
                    }
                }) %}

                {% include 'partials/form/image-list.twig' with {
                    id: sectionId ~ '-image',
                    name: namePrefix ~ '[gallery]',
                    editable: [
                        {
                            'name': 'description',
                            'type': 'textarea',
                            'label': 'Description',
                            'className': 'form-control--textarea--short',
                            'maxlength': 255
                        }
                    ],
                    value: values.gallery|default([]),
                    required: true,
                    imageMinWidth: 620,
                    imageMinHeight: 620
                } %}

            </div>

        </div>
    </div>
</div>