{% from 'macros/icon.twig' import icon %}
{% from 'partials/blocks/form_row.twig' import form_row %}


<div class="sticky-sidebar form-sidebar card card--small">
    <header class="form-sidebar__header card__header">

        {{ form_row({
            name: 'active',
            full_name: 'active',
            type: 'checkbox',
            label: 'Online',
            value: '1',
            checked: true,
            widget_attr: {
                class: 'form-control-checkbox--switch'
            }
        }) }}

    </header>
    <div class="card__content">
        <div class="form-sidebar__content card__body card__body--short">
            CONTENT
        </div>
        <div class="form-sidebar__content card__body card__body--short">
            CONTENT
        </div>
        <div class="form-sidebar__content card__body card__body--narrow">
            <div class="row row--pad form-sidebar__buttons">
                <div class="col col--xs-6">
                    <a class="btn btn--no-paddings btn--text-small btn--vertical btn--link btn-container"
                        href="/assets/json/visual-editor/page.html" target="_blank"
                        title="Open preview"
                    >
                        <span class="btn btn--primary btn--square btn--pill icon"><span class="btn__content">
                            {{ icon('preview', {width: 32, height: 32}) }}
                        </span></span>
                        <span>Preview</span>
                    </a>
                </div>
                <div class="col col--xs-6">
                    <a class="btn btn--no-paddings btn--text-small btn--vertical btn--link btn-container"
                        role="button" tabindex="0"
                        href="page-content-visual-eidtor-modal.html"
                        data-plugin="ajaxModalTrigger"
                    >
                        <span class="btn btn--primary btn--square btn--pill icon"><span class="btn__content">
                            {{ icon('editor', {width: 32, height: 32}) }}
                        </span></span>
                        <span>Editor</span>
                    </a>
                </div>
            </div>
        </div>
        <footer class="form-sidebar__footer card__footer">

            <div class="btn-group btn-group--full">
                <button type="submit" class="btn-group__fill btn btn--secondary btn--lg"><span class="btn__content">
                    Update
                </span></button>

                <div class="dropdown">

                {# More options dropdown #}
                <div class="dropdown" data-plugin="dropdown" data-dropdown-placement="bottom-end">
                    <button type="button" class="dropdown__toggle btn btn--secondary btn--lg btn--square" title="More options" aria-expanded="false" id="moreOptionsDropdown">
                        <span class="btn__content">
                            {{ icon('dropdown-arrow', {width: 10, height: 10}) }}
                        </span>
                    </button>

                    <div class="dropdown__menu d-none" aria-labelledby="moreOptionsDropdown">
                        <ul class="dropdown__menu__content">
                            <li>
                                <a href="#" class="dropdown__item">
                                    Schedule
                                </a>
                            </li>
                            <li class="dropdown__divider"></li>
                            <li class="dropdown__form">
                                Or maybe here should be a form???
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </footer>
    </div>
</div>
