{% macro block_list_start (freeze) %}
    <div class="well well-small">
        <div{% if not freeze %} data-widget="blocks-list"{% endif %}>
{% endmacro %}

{% macro block_list_end () %}
        </div>
    </div>
{% endmacro %}

{% macro block_start (title, boxCollapsed, freeze) %}
    <div class="box box-success {% if boxCollapsed %}collapsed-box{% endif %}">
        <div class="box-header with-border">

            {% if not freeze %}
                <i class="fa">
                    <span class="fa fa-ellipsis-v"></span>
                    <span class="fa fa-ellipsis-v"></span>
                </i>
            {% endif %}

            <h3 class="box-title">{{ title }}</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    {% if boxCollapsed %}
                        <i class="fa fa-plus"></i>
                    {% else %}
                        <i class="fa fa-minus"></i>
                    {% endif %}
                </button>
                {% if not freeze %}
                    <button type="button" class="btn btn-box-tool" data-widget="block-remove"><i class="fa fa-remove"></i></button>
                {% endif %}
            </div>
        </div>
        <div class="box-body">
{% endmacro %}

{% macro block_end (options) %}
        {% if options and options.crudLink %}
            <div class="alert alert-info">
                Для изменения списка, пройдите по <a href="{{ path(options.crudLink) }}">ссылке</a>
            </div>
        {% endif %}
        </div>
    </div>
{% endmacro %}