{# Left top corner logo and title #}
<a href="/" class="brand brand--fixed brand--outline brand--square brand--pill">
    <span class="brand__image">
        <img src="/assets/images/temp/logo.png" width="40" height="40" alt="" />
    </span>
    <span class="brand__text">
        Accent<br /> Capital
    </span>
</a>
