<div class="group group--center">
    <a href="page-content.html" class="btn btn--primary btn--pill"><span class="btn__content">
        Page Content
    </span></a>
    <a href="crud-list.html" class="btn btn--link btn--pill"><span class="btn__content">
        Staff
    </span></a>
    <a href="crud-list.html" class="btn btn--link btn--pill"><span class="btn__content">
        Categories
    </span></a>
</div>
