{% set headerCrudList = headerCrudList|default([]) %}

{% if headerCrudList|length %}
    <div class="container container-h mt-6 mb-4">
        <div class="group group--center">
            {% for item in headerCrudList %}
                <a href="{{ item.url }}" class="btn {{ item.active ? 'btn--primary' : 'btn--link' }} btn--pill"><span class="btn__content">
                    {{ item.text }}
                </span></a>
            {% endfor %}
        </div>
    </div>
{% endif %}
