{% set languages = languages|default([]) %}
{% set defaultLanguage = (languages|first).id %}

{% if languages|length > 1 %}
    <div class="group group--1">
        {% for language in languages %}
            <input id="language_{{ language.id }}"
                type="radio"
                name="language"
                value="{{ language.id }}"
                class="sr-only"
                {% if loop.first %}checked{% endif %}
            />
            
            <label for="language_{{ language.id }}" class="btn btn--sm btn--checkbox btn--pill"><span class="btn__content">
                {{ language.text }}
            </span></label>
        {% endfor %}
    </div>
{% endif %}
