<ol class="nav group group--middle group--5">
    <li class="nav__item"><a href="#">Media</a></li>
    <li class="nav__item"><a href="#">Global Data</a></li>
    <li class="nav__item"><a href="#">Sitemap</a></li>
    <li class="nav__item"><a href="#">Settings</a></li>
    <li class="group__divider"></li>
    <li class="nav__item"><a href="#">
        <span>Log</span>
        <sup class="badge badge--square badge--tiny badge--pill badge--inverted">3</sup>
    </a></li>
</ol>