{# Right top corner user profile #}
<div class="dropdown">
    <button class="dropdown__toggle brand brand--fixed brand--square brand--pill" data-toggle="dropdown" aria-expanded="false" id="navbarUserDropdown">
        <span class="brand__image">
            <img src="/assets/images/temp/profile.png" width="40" height="40" alt="" />
        </span>
    </button>
    
    <ul class="dropdown__menu" aria-labelledby="navbarUserDropdown">
    </ul>
</div>