<div class="modal modal--overlay modal--side d-none" id="crud-form-modal"
    role="dialog" aria-label="Edit item"
    data-plugin="modal tabs"
    {# data-modal-auto-close="false" #}
    data-tabs-animate="false"
    data-tabs-input-selector='.js-crud-modal-language input[name="language"]'
    aria-hidden="true"
>

    {#
    Separate element for background to allow more interesting show / hide
    animations. Background is usually darker overlay over the page content
    #}
    <div class="modal__background"></div>

    {# Element to allow scrolling when content exceeds viewport size #}
    <div class="modal__scroller">

        {#
        This element is used to position modal content + add paddings between
        modal content and viewport
        #}
        <div class="modal__content-wrapper">
            <form
                class="modal__content form-wide ui-gray-background card card--modal card--sticky-header js-modal-ignore-auto-close"
                method="GET" {# @TODO Dev server doesn't support POST, need to use GET #}
                action="/assets/json/crud/crud-list-save-success.json"
                data-plugin="ajaxForm sectionTitle"
            >

                {% include 'partials/crud-list-modal/header.twig' %}

                <div class="card__content">
                    <div class="card__body ui-gray-background"
                        {# Sortable list #}
                        data-plugin="sortableList"
                        data-sortable-list-invert-swap="true"
                    >

                        <div class="card-list js-sortable-list-list">

                            {% include 'partials/crud-list-modal/section-general.twig' with {
                                values: {
                                    active: true,
                                    name: {
                                        ru: 'Александр Самонов',
                                        en: 'Alexander Samonov'
                                    },
                                    company: 'b',
                                    image: {
                                        id: 'qweasdzxc',
                                        thumbnail: '/assets/images/temp/table/1.png',
                                        url: '/assets/images/temp/table/1.png',
                                        filename: '1.png',
                                        width: 128,
                                        height: 128
                                    }
                                }
                            } %}

                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
