<div class="card js-sortable-list-force-start">
    <header class="card__header">
        <div class="group group--middle group--5">
            {# Title #}
            <h2 class="group__fill" id="modalGeneralTitle">General Settings</h2>

            {# Control #}
            <div>
                
                <div class="form-control-switch">
                    <input class="form-control-switch__input" type="checkbox" id="input-dggsfaw3rqa4t34r3ra" name="active" value="1" checked="checked" />
                    <label class="form-control-switch__label text-color-heading" for="input-dggsfaw3rqa4t34r3ra">Online</label>
                    <span class="form-control-switch__icon"></span>
                </div>

            </div>
        </div>
    </header>

    <div aria-labelledby="modalGeneralTitle" class="card__content">
        <div class="card__body">
            
            {# Localized title, duplicate for each content, in the real app this won't be a copy #}
            <div class="tabs-contents">
                {% for languageItem in languages %}
                    <div class="tabs-contents__content" {% if not loop.first %}aria-hidden="true"{% endif %} data-tabs-content-id="{{ languageItem.id }}">
                        {# Locale tab content #}
                        {% set language = languageItem.id %}

                        {# Title #}
                        <div class="form-group">
                            {% include 'partials/form/label.twig' with ({
                                text: 'Name',
                                attrs: {
                                    for: 'input-56756756745-' ~ language
                                }
                            }) %}

                            {% include 'partials/form/text.twig' with {
                                id: 'input-56756756745-' ~ language,
                                name: 'name[' ~ language ~ ']',
                                value: 'Александр Самонов',
                                required: true
                            } %}
                        </div>

                    </div>
                {% endfor %}
            </div>

            {# Company #}
            <div class="form-group">
                <div class="row row--pad"><div class="col col--xs-12 col--md-6">
                    {% include 'partials/form/label.twig' with ({
                        text: 'Company',
                        attrs: {
                            for: 'input-67456764353'
                        }
                    }) %}

                    {% include 'partials/form/select.twig' with {
                        id: 'input-67456764353',
                        name: 'company',
                        value: 'a',
                        values: [
                            {id: 'a', text: 'Accent Capital'},
                            {id: 'b', text: 'Accent Asset Management'}
                        ],
                        required: true
                    } %}
                </div></div>
            </div>


            {# Image #}
            <div class="row row--pad form-group">
                <div class="col col--xs-12 col--lg-6">

                    {% include 'partials/form/label.twig' with ({
                        text: 'Image',
                        attrs: {
                            for: 'input-674657547456'
                        }
                    }) %}

                    {% include 'partials/form/image.twig' with {
                        id: 'input-674657547456',
                        name: 'image',
                        value: {
                            id: 'qweasdzxc',
                            thumbnail: '/assets/images/temp/table/1.png',
                            url: '/assets/images/temp/table/1.png',
                            filename: '1.png',
                            width: 128,
                            height: 128
                        },
                        required: false,
                        imageMinWidth: 128,
                        imageMinHeight: 128
                    } %}

                </div>
            </div>

        </div>
    </div>
</div>
