{% from 'partials/blocks/form_rows.twig' import form_rows %}
{% from 'partials/blocks/form_row.twig' import form_row %}


<div class="card js-sortable-list-force-start">
    <header class="card__header">
        <div class="group group--middle group--5">
            {# Title #}
            <h2 class="group__fill" id="modalGeneralTitle">General Settings</h2>

            {# Control #}
            <div>

                {{ form_row({
                    name: 'active',
                    full_name: 'active',
                    type: 'checkbox',
                    label: 'Online',
                    value: '1',
                    checked: true,
                    widget_attr: {
                        class: 'form-control-checkbox--switch'
                    }
                }) }}

            </div>
        </div>
    </header>

    <div aria-labelledby="modalGeneralTitle" class="card__content">
        <div class="card__body">

            {# Localized title, duplicate for each content, in the real app this won't be a copy #}
            <div class="tabs-contents">
                {% for languageItem in languages %}
                    <div class="tabs-contents__content" {% if not loop.first %}aria-hidden="true"{% endif %} data-tabs-content-id="{{ languageItem.id }}">
                        {# Locale tab content #}
                        {% set language = languageItem.id %}

                        {# Title #}
                        {{ form_row({
                            type: 'text',
                            label: 'Name',
                            name: 'name[' ~ language ~ ']',
                            full_name: 'name[' ~ language ~ ']',
                            value: values.name[languageItem.id]|default(''),
                            required: true,
                        }) }}

                    </div>
                {% endfor %}
            </div>

            {{ form_rows([
                {
                    type: 'choice',
                    label: 'Company',
                    name: 'company',
                    full_name: 'company',
                    value: values.company|default(''),
                    choices: [
                        {value: 'a', label: 'Accent Capital'},
                        {value: 'b', label: 'Accent Asset Management'}
                    ],
                    required: true,
                },
                {
                    name: 'image',
                    full_name: 'image',
                    type: 'image',
                    label: 'Image',
                    value: values.image|default({}),
                    required: false,
                    minWidth: 128,
                    minHeight: 128,
                },
            ]) }}

        </div>
    </div>
</div>
