@import "tinymce/skins/ui/oxide/skin";
@import "components/form/tinymce/tinymce";
@import "components/form/tinymce/pop";
@import "components/form/tinymce/toolbar";
@import "components/form/tinymce/toolbar-group";
@import "components/form/tinymce/button";
@import "components/form/tinymce/collection";
@import "components/form/tinymce/statusbar";
@import "components/form/tinymce/menu";

.form-control--richtexteditor {
    textarea {
        height: 460px; // Min height set in javascripts/components/form/richtexteditor.js

        // Make it look like disabled
        color: var(--color-disabled);
        pointer-events: none;
    }
}
