@import "mixins/helpers/browsers";

/**
 * Checkbox button input control styles
 */

.form-control-checkbox {
    display: flex;
    align-items: center;

    // Hide input out of view
    input {
        position: absolute;
        clip-path: polygon(0px 0px,0px 0px,0px 0px,0px 0px);
    }

    &__icon,
    &__label {
        position: relative;
        min-height: var(--spacer-3);
        cursor: pointer;

        // Extended hover area
        &:after {
            content: "";
            @include layout-position-overlay(-10px -5px);
        }
    }

    &__icon {
        height: var(--spacer-3);
        width: var(--spacer-3);
        background: transparent;
        border: 1px solid var(--color-outline);
        border-radius: $border-radius;
        flex-shrink: 0;

        @extend %transition;
        transition-property: border-color;

        // Checkmark icon, visible when checkbox is checked
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: var(--spacer-3);
            height: var(--spacer-3);
            left: -1px;
            top: -1px;

            background: url(#{ $path-images }/common/checkbox.svg); // @TODO
            background-size: cover;

            @extend %transition;
            transition-property: opacity;
            opacity: 0;
        }
    }

    &__label {
        flex-grow: 1;

        // Layout
        padding: 0 0 0 var(--spacer-3);

        // Text styles
        // @extend %text--size-small;
        // color: $color-light-heading;
    }

    // Disabled state
    input[disabled] ~ &__icon,
    input[disabled] ~ &__label {
        opacity: 0.5;
        pointer-events: none;
    }

    // Focused
    input {
        @include link-focus-visible () {
            & ~ .form-control-checkbox__icon {
                box-shadow: $link-focus-visible-shadow;
            }
        }
    }

    // Checked state
    input:checked ~ &__icon:before {
        opacity: 1;
    }
}


/**
 * Link inside the label should be above the checkbox
 * and clickable
 */

.form-control-checkbox a {
    // @extend %link--style-...;
    position: relative;
    z-index: 1;

    .is-ie & {
        vertical-align: top;
    }
}


/**
 * Error styles
 */

.has-error .form-control-checkbox__icon {
    border-color: var(--color-error);
}

.has-error .form-control-checkbox__label {
    color: var(--color-error);
}
