/**
 *
 */

.form-control {
    @extend %input-wrapper;

    // Info
    &__info {
        position: absolute;
        right: var(--spacer);
        bottom: var(--spacer);

        pointer-events: none;
    }
}


/**
 * Form control
 *
 * @demo
 *     <div class="form-group">
 *         <div class="form-control form-control--input" data-plugin="inputState">
 *             <input id="my-input-id" name="my-input-name" type="text" required />
 *             <label for="my-input-id" class="form-label">My Input Label</label>
 *         </div>
 *     </div>
 */

.form-control--input input {
    @extend %input;

    // Hide number arrows
    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

// Small control
.form-control--input.form-control--small input {
    @extend %input-layout-small;
    @extend %input-text-small;
}

// Pill control
.form-control--input.form-control--pill {
    --border-radius: 200px;
}


/**
 * Textarea form control modifier
 *
 * @demo
 *     <div class="form-group">
 *         <div class="form-control form-control--textarea" data-plugin="inputState">
 *             <textarea id="my-input-id" name="my-input-name"></textarea>
 *             <label for="my-input-id" class="form-label">My Input Label</label>
 *         </div>
 *     </div>
 */

.form-control--textarea textarea {
    @extend %input;

    min-height: calc(var(--spacer) * 9.5);
    padding-top: calc(var(--spacer) * 0.75);
    padding-bottom: calc(var(--spacer) * 0.75);

    // Horizontal resize will break layout
	resize: vertical;
}

.form-control--textarea--short textarea {
    min-height: var(--spacer-8);
}


/**
 * Dropdown form control modifier
 *
 * @demo
 *     <div class="form-group">
 *         <label class="form-label">Label</label>
 *         <select class="form-control form-control--select"></select>
 *     </div>
 *     <div class="form-group">
 *         <div class="form-control form-control--select" data-plugin="inputState">
 *             <select id="my-input-id" name="my-input-name">...</select>
 *             <label for="my-input-id" class="form-label">My Input Label</label>
 *         </div>
 *     </div>
 */

.form-control--select select {
    @extend %input;

    width: 100%;
    -webkit-appearance: menulist-button;
}


/**
 * Narrow width input
 */

.form-control--narrow {
    width: var(--spacer-6);
}


/**
 * Input with centered text
 */

.form-control--center input {
    text-align: center;
}
