.input-group {
    display: flex;
    border-radius: var(--border-radius);

    &__icon,
    &__text {
        white-space: nowrap;
    
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--spacer-6);
        width: auto;
    
        border: 1px solid var(--color-outline);
        border-radius: var(--border-radius);
    }

    .input-group__merge {
        &:not(:last-child),
        &:not(:last-child) input {
            border-right: 0;
            padding-right: 0;
        }
        & + .input-group__merge,
        & + .input-group__merge input {
            border-left: 0;
            padding-left: 0;
        }
    }
    &__icon {
        min-width: var(--spacer-6);
        padding: 0;
    }
    &__text {
        border: 1px solid var(--color-outline);
        padding: 0 var(--spacer-3);
    }
    &__input {
        flex-grow: 1;
    }

    &:focus-within {
        box-shadow: $link-focus-visible-shadow;

        input,
        select {
            box-shadow: none;
        }
    }

    > * {
        &, input, select {
            border-radius: 0;
        }
    }
    > *:not(:last-child) {
        &, input, select {
            border-right: 0
        }
    }

    > *:first-child {
        &, input, select {
            border-radius: var(--border-radius) 0 0 var(--border-radius);
        }
    }
    > *:last-child {
        &, input, select {
            border-radius: 0 var(--border-radius) var(--border-radius) 0;
        }
    }
    > *:first-child:last-child {
        &, input, select {
            border-radius: var(--border-radius);
        }
    }
}

.input-group--small {
    .input-group__text {
        height: var(--spacer-5);
        padding: 0 calc(var(--spacer-3) * 0.75);
    }
    .input-group__icon {
        height: var(--spacer-5);
        min-width: calc(var(--spacer) * 2.1875);
    }
}

.input-group--pill {
    --border-radius: 200px;
}
