/**
 * Form label
 *
 * @demo
 *     <label class="form-label">Form label<label>
 */

.form-label {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 0 0 calc(var(--spacer-3) - 4px);
    
    // Prevent text selection when clicked twice
    user-select: none;
    
    // Styles
    cursor: pointer;
    // @extend %text--size-input;
    // color: $color-light-text;

    // Disabled label
    input[disabled] + &,
    textarea[disabled] + &,
    select[disabled] + & {
        opacity: 0.5;
    }

    // Required input symbol '*'
    sup {
        // IE11 / Edge floating label animation fix
        // Without inline-block animation transform origin is broken for label
        display: inline-block;
    }

    // Extended :hover area
    &:before {
        content: "";
        @extend %layout-position-overlay-extended;
    }
}


/**
 * Form label which is always visible
 * and is over the input while input is empty and not focused
 *
 * @demo
 *     <div class="form-control form-control--float ..." data-plugin="inputState">
 *         ...
 *         <label class="form-label">Form label<label>
 *     </div>
 */

// .form-control--float {
//     position: relative;
// }
// .form-control--float .form-label {
//     position: absolute;
//     padding: 0;
//     width: auto;
//     left: 0;
//     top: 0;

//     overflow: hidden;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     pointer-events: none;

//     @extend %transition;
//     transform-origin: 0 0;
//     transition-property: transform, color;
// }

// .form-control--float input,
// .form-control--float textarea {
//     @include placeholder () {
//         // We use placeholder to detect when it's not shown to move label
//         // but we don't want to actually show it to the user
//         color: transparent !important;
//     }
// }

// Move label when input is focused or has value
// $label-float-normal-font-size: 14;
// $label-float-minified-font-size: 20;
// $label-float-minified-offset: -18px;

// .form-control--float input:focus ~ .form-label,
// .form-control--float textarea:focus ~ .form-label,
// .form-control--float.is-not-empty .form-label,
// .form-control--float.is-focused:not(.form-control--select) .form-label {
//     transform: translate(0, #{ $label-float-minified-offset }) scale(#{ $label-float-normal-font-size / $label-float-minified-font-size });
//     // color: ...;
// }

// IE11 doesn't support "placeholder-shown" selector, needs to be separate from other selectors
// .form-control--float input:not(:placeholder-shown) ~ .form-label,
// .form-control--float textarea:not(:placeholder-shown) ~ .form-label {
//     transform: translate(0, #{ $label-float-minified-offset }) scale(#{ $label-float-normal-font-size / $label-float-minified-font-size });
//     // color: ...;
// }


/**
 * Error styles
 */

// .has-error .form-label {
//     color: $color-error;
// }
