<div class="card__content visual-editor js-visual-editor-controls js-visual-editor-add">
    <iframe class="visual-editor__iframe js-visual-editor-iframe is-invisible"></iframe>
    <div class="loader ui-gray js-visual-editor-loader"></div>

    {% include 'partials/visual-editor-modal/controls.twig' %}
    {% include 'partials/visual-editor-modal/add-section.twig' %}
</div>