.media-gridlist {
    $grid-item-size: 150px;
    $grid-item-margin: 15px - 2 * (2px + 1px);
    $progress-bar-size: 10px;

    position: relative;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 $grid-item-margin ($grid-item-margin + $progress-bar-size) 0;
    margin: 0;

    user-select: none;

    // Scrollable
    &--scrollable {
        max-height: calc(100vh - 170px);
        overflow: hidden;
        overflow-y: auto;
    
        .modal & {
            max-height: calc(100vh - 300px);
        }
    }    

    &-box {
        flex: 0 0 $grid-item-size;
        max-width: $grid-item-size;
        min-width: $grid-item-size;

        margin: $grid-item-margin 0 0 $grid-item-margin;
        padding: 2px;
        border-radius: 3px;
        border: 1px solid transparent;

        list-style: none;

        &-thumbnail {
            display: block;
            position: relative;
            overflow: hidden;
            padding-top: 100%;

            cursor: pointer;

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 100%;
                height: auto;
                transform: translate(-50%, -50%);

                pointer-events: none;

                @supports (object-fit: cover) {
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    transform: none;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 2px;
                }
            }
        }

        &-label {
            display: block;
            padding: 8px;

            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.is-selected {
            background-color: rgba(#000, 0.025);
            border-color: rgba(#000, 0.25);
        }

        &.is-active {
            background-color: rgba(#3c8dbc, 0.05);
            border-color: rgba(#3c8dbc, 0.5);
        }

        &.is-dragging {
            opacity: 0;
        }
    }

    &-box.ui-draggable-dragging {
        opacity: 0.75;
        background-color: #fff;
        border-color: rgba(#000, 0.15);

        box-shadow: 7px 7px 0 0 rgba(#000, 0.05);
    }


    .popover {
        max-width: none;
    }

    &-popover {
        width: $grid-item-size * 1.75;

        p {
            display: flex;
            margin: 0;
        }

        &-label {
            color: #999;
            font-weight: normal;
            margin: 0 10px 0 0;
        }
        &-value {

        }

        &-buttons {
            display: flex;

            .btn {
                margin-top: 10px;
                flex: 1;
            }
            .btn:not(:first-child) {
                margin-left: 10px;
            }
        }
    }

    // Loading state
    &-loading {
        pointer-events: none;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(#fff, 0.85);

        top: -9000px;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
    }

    &.is-loading {
        min-height: 399px;

        .media-gridlist-loading {
            pointer-events: all;
            top: 0;
            opacity: 1;
        }
    }

    // Empty state
    .media-gridlist-empty {
        display: none;
        height: 195px;
        min-width: 100%;
        max-width: 100%;

        &:first-child {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        p {
            margin: 10px 0 0;
        }
    }

    // Dragging label
    .label,
    &-box .label {
        position: absolute;
        right: -6px;
        top: -6px;
    }
}

.media-out-of-screen {
    position: absolute;
    left: -9000px;
    top: -9000px;
}


/*
 * Drop zone
 */

.media-gridlist-drop {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px dashed #3c8dbc;
    border-top: 0;
    opacity: 0.8;

    color: #3c8dbc;
    font-weight: bold;
    font-size: 12px;

    justify-content: center;
    align-items: center;

    transition: all 0.15s ease;
    transition-property: color, background, border-color, opacity;

    .media-gridlist.dropzone--in &,
    .media-gridlist.dropzone--hover & {
        display: flex;
    }

    .media-gridlist.dropzone--hover & {
        color: #ffffff;
        background: #3c8dbc;
    }
}


/*
 * File upload progress bar
 */

.media-gridlist-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border-radius: 1px 3px 3px 1px;

    pointer-events: none;
    transition: opacity 0.15s ease;
    opacity: 1;

    &--hidden {
        transition-duration: 0.35s;
        opacity: 0;
    }
}