/*
 * Custom fonts
 */

/*
@font-face {
    font-family: '...';
    src: url('#{$path-fonts}/....woff2') format('woff2'), url('#{$path-fonts}/....woff') format('woff'), url('#{$path-fonts}/....otf') format('opentype');
    font-weight: $extra-light; // light / thin
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '...';
    src: url('#{$path-fonts}/....woff2') format('woff2'), url('#{$path-fonts}/....woff') format('woff'), url('#{$path-fonts}/....otf') format('opentype');
    font-weight: $light; // book / demi
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '...';
    src: url('#{$path-fonts}/....woff2') format('woff2'), url('#{$path-fonts}/....woff') format('woff'), url('#{$path-fonts}/....otf') format('opentype');
    font-weight: $regular; // regular / normal
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '...';
    src: url('#{$path-fonts}/....woff2') format('woff2'), url('#{$path-fonts}/....woff') format('woff'), url('#{$path-fonts}/....otf') format('opentype');
    font-weight: $medium; // medium
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '...';
    src: url('#{$path-fonts}/....woff2') format('woff2'), url('#{$path-fonts}/....woff') format('woff'), url('#{$path-fonts}/....otf') format('opentype');
    font-weight: $semi-bold; // semibold / demibold
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '...';
    src: url('#{$path-fonts}/....woff2') format('woff2'), url('#{$path-fonts}/....woff') format('woff'), url('#{$path-fonts}/....otf') format('opentype');
    font-weight: $bold; // bold
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '...';
    src: url('#{$path-fonts}/....woff2') format('woff2'), url('#{$path-fonts}/....woff') format('woff'), url('#{$path-fonts}/....otf') format('opentype');
    font-weight: $extra-bold; // black / extra bold / heavy
    font-style: normal;
    font-display: swap;
}
*/
