.visual-editor-controls {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: var(--spacer-7);

    pointer-events: none;

    @extend %transition;
    transition-property: opacity;
    opacity: 0;
}

.visual-editor-controls--hovered {
    opacity: 1;

    .visual-editor-controls__controls {
        > .btn:not(.is-disabled),
        > .dropdown:not(.is-disabled) {
            pointer-events: initial;
        }
    }
}