{% set namePrefix = namePrefix|default('') %}
{% set sectionId = sectionId|default('section-' ~ random()) %}
{% set values = values|default({}) %}

<div class="card card--draggable accordion accordion--expanded js-sortable-list-item js-collection-item" data-plugin="accordion">

    {# Order input, used for backend to know order of sections #}
    <input type="hidden" name="{{ namePrefix }}[order]" value="{{ values.order|default(0) }}" />

    {# Header #}
    {% include 'partials/section-header.twig' with {
        'title': 'Image',
        'id': sectionId,
        'size': 'small',
        
        'draggable': true,

        'withDeleteOption': true,

        'withActiveToggle': true,
        'active': values.active|default(false),

        'withAccordion': true,
        'expanded': true,
    } %}

    {# Content #}
    <div role="region" aria-labelledby="{{ sectionId }}Title" id="{{ sectionId }}" aria-hidden="false" class="accordion__content card__content">
        <div class="card__body">
        
            {# Image #}
            <div class="row row--pad form-group">
                <div class="col col--xs-12 col--lg-6">

                    {% include 'partials/form/label.twig' with ({
                        text: 'Image',
                        attrs: {
                            for: sectionId ~ '-image'
                        }
                    }) %}

                    {% include 'partials/form/image.twig' with {
                        id: sectionId ~ '-image',
                        name: namePrefix ~ '[image]',
                        value: values.image|default({}),
                        required: true,
                        imageMinWidth: 620,
                        imageMinHeight: 620
                    } %}

                </div>
            </div>


            {# Description #}
            <div class="form-group">
                {% include 'partials/form/label.twig' with ({
                    text: 'Description',
                    additionalText: 'Optional',
                    attrs: {
                        for: sectionId ~ '-description'
                    }
                }) %}

                {% include 'partials/form/text.twig' with {
                    id: sectionId ~ '-description',
                    name: namePrefix ~ '[description]',
                    value: values.description|default(''),
                    maxlength: 255,
                    required: false
                } %}
            </div>

            {# Source #}
            <div class="form-group">
                {% include 'partials/form/label.twig' with ({
                    text: 'Source',
                    additionalText: 'Optional',
                    attrs: {
                        for: sectionId ~ '-source'
                    }
                }) %}

                {% include 'partials/form/textarea.twig' with {
                    id: sectionId ~ '-source',
                    name: namePrefix ~ '[source]',
                    value: values.source|default(''),
                    maxlength: 600,
                    required: false
                } %}
            </div>

            {# Full width #}
            <div class="form-group">
                {% include 'partials/form/label.twig' with ({
                    text: 'Full width',
                    attrs: {
                        for: sectionId ~ '-full-width'
                    }
                }) %}

                {% include 'partials/form/select-switch.twig' with {
                    id: sectionId ~ '-full-width',
                    name: namePrefix ~ '[full-width]',
                    value: values['full-width']|default('0'),
                    values: [
                        {id: '0', text: 'No'},
                        {id: '1', text: 'Yes'},
                    ],
                    required: true
                } %}
            </div>

        </div>
    </div>
</div>
