{% set language = language|default('en') %}
{% set sectionId = sectionId|default('section-' ~ random()) %}
{% set values = values|default({}) %}

<div class="card card--draggable accordion accordion--expanded js-sortable-list-item js-collection-item" data-plugin="accordion">

    {# Order input, used for backend to know order of sections #}
    <input type="hidden" name="{{ namePrefix }}[order]" value="{{ values.order|default(0) }}" />

    {# Header #}
    {% include 'partials/section-header.twig' with {
        'title': 'Text',
        'id': sectionId,
        'size': 'small',
        
        'draggable': true,

        'withDeleteOption': true,

        'withActiveToggle': true,
        'active': values.active|default(false),

        'withAccordion': true,
        'expanded': true,
    } %}

    {# Content #}
    <div role="region" aria-labelledby="{{ sectionId }}Title" id="{{ sectionId }}" aria-hidden="false" class="accordion__content card__content">
        <div class="card__body">
            {# Section content #}

            {# Rick text editor input #}
            <div class="form-group">
                {% include 'partials/form/label.twig' with ({
                    text: 'Text Body',
                    attrs: {
                        for: sectionId ~ '-text'
                    }
                }) %}

                {% include 'partials/form/richtexteditor.twig' with {
                    id: sectionId ~ '-text',
                    name: 'text[' ~ language ~ ']',
                    value: values.text|default(''),
                    required: false
                } %}
            </div>

        
        </div>
    </div>
</div>