/*
 * Animations
 */

%animation {
    @extend %transition;
    pointer-events: none;
}

%animation-slow {
    @extend %transition-slow;
    pointer-events: none;
}

%animation-slower {
    @extend %transition-slower;
    pointer-events: none;
}