.animation--dropdown-in,
.animation--dropdown-out {
    @extend %transition-fast;
    transition-property: color;

    .dropdown__menu__content {
        @extend %transition-fast;
        transition-property: transform, opacity;
    }
}

.animation--dropdown-in--inactive,
.animation--dropdown-out--active {
    &[data-popper-placement*="top"] {
        .dropdown__menu__content {
            transform: translateY(20px);
            opacity: 0;
        }
    }
    &[data-popper-placement*="bottom"] {
        .dropdown__menu__content {
            transform: translateY(-20px);
            opacity: 0;
        }
    }
    &[data-popper-placement*="right"] {
        .dropdown__menu__content {
            transform: translateX(-20px);
            opacity: 0;
        }
    }
    &[data-popper-placement*="left"] {
        .dropdown__menu__content {
            transform: translateX(20px);
            opacity: 0;
        }
    }
}
