/**
 * Animation durations
 */

.animation--fast {
    transition-duration: $duration-fast;
}
.animation--slow {
    transition-duration: $duration-slow;
}
.animation--slower {
    transition-duration: $duration-slower;
}
