/**
 * Reveal animation is for tablet and desktop only
 * Hide content until animation starts
 */

.js [data-reveal]:not([data-reveal-visible]) {
    pointer-events: all !important;

    @include media-breakpoint(md-up) {
        opacity: 0 !important;
        pointer-events: none !important;
    }
    @media (prefers-reduced-motion: reduce) {
        opacity: 1 !important;
        pointer-events: all !important;
    }
}

.js.css-regression-testing [data-reveal]:not([data-reveal-visible]) {
    opacity: 1 !important;
    pointer-events: all !important;
}
