.form-control-image {
    display: flex;

    &__preview {
        min-width: 150px;
        max-width: 150px;
        height: 150px;
        margin-right: 9px;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            display: block;
            max-width: 144px;
            max-height: 144px;
            height: auto;
            object-fit: contain;
        }
    }

    &__content {
        flex-grow: 1;
    }

    input {
        width: 100%;
    }
    textarea {
        resize: vertical;
        width: 100%;
    }
    // Fake checkbox, it's used to show error when image input is "required"
    input[type="checkbox"] {
        position: absolute;
        left: 50%;
        bottom: 0;
        width: auto;
        opacity: 0;
    }

    .form-control-image__empty,
    &--empty .form-control-image__not-empty {
        display: none;
    }

    &--empty .form-control-image__empty {
        display: inline;
    }
}