.form-control-image {
    display: flex;

    &__preview {
        min-width: 150px;
        max-width: 150px;
        height: 150px;
        margin-right: 9px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            max-width: 144px;
            max-height: 144px;
            height: auto;
            object-fit: contain;
        }
    }

    &__content {
        flex-grow: 1;
    }

    input {
        width: 100%;
    }
    textarea {
        resize: vertical;
        width: 100%;
    }
}