/**
 * List styles
 *
 * By default none of the lists are styled
 */

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}


/**
 * List styles inside text block
 *
 * @demo
 *     <div class="text">
 *         <ul>
 *             <li>List item #1</li>
 *             <li>List item #2</li>
 *             <li>List item #3</li>
 *         </ul>
 *     </div>
 */

.text ul {
    @include margins-top-bottom($spacing-text);

    li {
        position: relative;
        padding-left: 40px;
        @include margins-top-bottom($spacing-text);

        // Basic dot
        &:before {
            position: absolute;
            left: 4px;
            top: 0.7em;
            margin-top: -1px;

            content: "";
            width: 4px;
            height: 4px;
            border-radius: 4px;
            background: color(--color-primary);
        }
    }
}

.text ol {
    @include margins-top-bottom($spacing-text);
    counter-reset: text-ol;

    li {
        counter-increment: text-ol;
        position: relative;
        padding-left: 40px;
        @include margins-top-bottom($spacing-text);

        &:before {
            position: absolute;
            left: 0;
            top: 0;

            content: counter(text-ol) ".";
            color: color(--color-primary);
        }
    }
}
