/**
 * Heading styles/sizes for elements
 *
 * @demo
 *     <h2 class="h1">Looks like first level heading</h2>
 */

.h1 {
    @extend h1;
}
.h2 {
    @extend h2;
}
.h3 {
    @extend h3;
}
.h4 {
    @extend h4;
}
.h5 {
    @extend h5;
}


/**
 * Heading font family / style
 *
 * @demo
 *     <p class="text--heading">Text with same style as heading</p>
 */

.text--heading {
    @extend %text--style-heading;
}


/**
 * Font sizes for elements
 *
 * @demo
 *     <p class="text--small">Small text size</p>
 *     <p><small>Small text size</small></p>
 *     <p class="text--medium">Medium text size</p>
 */

.text--small {
    @extend %text--size-small;
}
.text--medium {
    @extend %text--size-medium;
}


/**
 * Text colors for elements
 *
 * @demo
 *     <p class="text--color-primary">Primary color</p>
 *     <p class="text--color-heading">Heading color</p>
 *     <p class="text--color-text">text color</p>
 */

.text--color-primary {
    color: color(--color-primary);
}

.text--color-heading {
    color: color(--color-heading);
}

.text--color-small {
    color: color(--color-small);
}

.text--color-text {
    color: color(--color-text);
}


/**
 * Text alignment
 *
 * @demo
 *     <p class="text--left">Left aligned text</p>
 *     <p class="text--center">Center aligned text</p>
 *     <p class="text--right">Right aligned text</p>
 */

.text--left {
    text-align: left;
}
.text--right {
    text-align: right;
}
.text--center {
    text-align: center;
}


/**
 * Capitalize text
 *
 * @demo
 *     <p class="text--capitalize">Lorem ipsum dolor sit amet</p>
 */

.text--capitalize {
    text-transform: uppercase !important;
}


/**
 * Prevent text wrapping
 *
 * @demo
 *     <p class="text--nowrap">
 *         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
 *         pharetra sed erat convallis suscipit. Vestibulum at interdum neque.
 *     </p>
 */

.text--nowrap {
    white-space: nowrap !important;
}


/**
 * Truncate text adding dots at the end of the line if needed
 *
 * @demo
 *     <p class="text--truncate">
 *         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
 *         pharetra sed erat convallis suscipit. Vestibulum at interdum neque.
 *     </p>
 */

.text--truncate {
    white-space:   nowrap   !important;
    overflow:      hidden   !important;
    text-overflow: ellipsis !important;
}

