{% extends 'layouts/base.twig' %}
{%- from 'partials/blocks/form_widget.twig' import form_widget -%}
{%- from 'partials/blocks/form_widget_submit.twig' import submit_widget -%}

{% block content %}

    <div class="container container-h container-v">
        <form method="POST" class="card"><div class="card__content">
            <div class="card__body">

                {{ form_widget({
                    'compound': true,
                    'children': [
                        {
                            id: 'ndcvbxcbdsgs',
                            name: 'example-title',
                            full_name: 'example-title',
                            type: 'text',
                            value: 'I am title',
                            required: true
                        },
                        {
                            id: 'fdgsdfgsdfgsdfgdfsdf',
                            name: 'example-description',
                            full_name: 'example-description',
                            type: 'textarea',
                            label: 'Description',
                            value: 'Duis est non consectetur elit elit culpa.',
                            label_attr: {
                                text: 'Cutom label description text'
                            },
                            attr: {
                                maxlength: 255
                            }
                        },
                        {
                            id: 'sdsfgsdgsdfgsdfgsdfgsdf',
                            name: 'example-tinymce',
                            full_name: 'example-tinymce',
                            type: 'tinymce',
                            label: 'TinyMCE editor',
                            value: 'Duis est non consectetur elit elit culpa.',
                            tinymce_options: {
                                body_class: "text",
                                content_css: [
                                    "/assets/stylesheets/example-page-visual-editor.css"
                                ],
                                formats: {
                                },
                                style_formats: [
                                    {title: "Square bullets", selector: "ol",classes: "list-separated"},
                                    {title: "Gray text", inline: "span", classes: "text--color-small"},

                                    {title: "Table layout", selector: "table", classes: "table-layout"},

                                    {title: "Image title", selector: "img+p, figure+p",classes:"image-caption"},
                                    {title: "Image description", selector: "img+.image-caption+p, figure+.image-caption+p",classes: "image-description"},
                                    {title: "Image full text width", selector: "figure, img", classes: "image-full-text"},
                                    {title: "Image full page width", selector: "figure, img", classes: "image-full-page"},

                                    {title: "Icon", "items": [
                                        {title: "Icon fund opportunity", selector: "h1, h2, h3, h4", classes: "text-icon-fund-opportunity"},
                                        {title: "Icon fund value", selector: "h1, h2, h3, h4", classes: "text-icon-fund-value"},
                                        {title: "Icon fund core", selector: "h1, h2, h3, h4", classes: "text-icon-fund-core"},
                                        {title: "Icon fund core+", selector: "h1, h2, h3, h4", classes: "text-icon-fund-core-plus"}
                                    ]}
                                ]
                            }
                        },
                        {
                            compound: true,
                            attr: {
                                class: 'form-grid-layout',
                            },
                            children: [
                                {
                                    id: 'dsfgdgsdfgsdfgsdf',
                                    name: 'example-email',
                                    full_name: 'example-email',
                                    type: 'email',
                                    label: 'E-mail',
                                    help: 'Lorem ipsum dolor sit amet',
                                },
                                {
                                    id: 'dfbxcvbxcvbxcvbxc',
                                    name: 'example-phone',
                                    full_name: 'example-phone',
                                    type: 'tel',
                                    label: 'Phone number',
                                },
                            ]
                        },
                        {
                            id: 'sdfgsthjwrtaera',
                            name: 'example-text-with-max-length',
                            full_name: 'example-text-with-max-length',
                            type: 'text',
                            label: 'Text with max length',
                            attr: {
                                maxlength: 255
                            }
                        },
                        {
                            id: 'dfsgdfgsdfvdcvsd',
                            name: 'example-url-with-prefix',
                            full_name: 'example-title-url-prefix',
                            type: 'url',
                            label: 'URL with prefix and help tooltip',
                            help: 'Lorem ipsum',
                            required: true,
                            attr: {
                                prefix: 'academy/',
                            }
                        },
                        {
                            id: 'sdfsghgfhjdfjs',
                            name: 'example-search-1',
                            full_name: 'example-search-1',
                            type: 'search',
                            label: 'Search input',
                            attr: {
                                placeholder: 'Search',
                            }
                        },
                        {
                            id: 'fghdfghsdfgafsdfgsfsd',
                            name: 'example-search-2',
                            full_name: 'example-search-2',
                            type: 'search',
                            label: 'Search input styled',
                            attr: {
                                placeholder: 'Search',
                                class: 'form-control--small form-control--pill'
                            },
                            group_attr: {
                                class: 'input-group--small input-group--pill'
                            }
                        },
                        {
                            id: 'dfhdfghdfhghdfghfd',
                            name: 'example-image',
                            full_name: 'example-image',
                            type: 'image',
                            label: 'Image',
                            minWidth: 300,
                            minHeight: 300,
                            value: {
                                id: 'fgsdfgsdfgsdfgsdfgsd',
                                thumbnail: '/assets/images/temp/image-thumb-1.png',
                                url: '/assets/images/temp/image-thumb-1.png',
                                filename: 'example-academy_thumb_01.jpg',
                                width: 620,
                                height: 620
                            }
                        },
                        {
                            compound: true,
                            attr: {
                                class: 'form-grid-layout',
                            },
                            children: [
                                {
                                    id: 'fdgsdgsdfgsdfgsdfgsdf',
                                    name: 'example-image-2',
                                    full_name: 'example-image-2',
                                    type: 'image',
                                    label: '2 image inputs side by side',
                                    minWidth: 300,
                                    minHeight: 300,
                                    value: {
                                        id: 'fgsdfgsdfgsdfgsdfgsd',
                                        thumbnail: '/assets/images/temp/image-thumb-1.png',
                                        url: '/assets/images/temp/image-thumb-1.png',
                                        filename: 'example-academy_thumb_01.jpg',
                                        width: 620,
                                        height: 620
                                    }
                                },
                                {
                                    id: 'vcxbcvbxcvbxcvbcxvbxc',
                                    name: 'example-image-3',
                                    full_name: 'example-image-3',
                                    type: 'image',
                                    label: '2 image inputs side by side',
                                    minWidth: 300,
                                    minHeight: 300,
                                    value: {
                                        id: 'fgsdfgsdfgsdfgsdfgsd',
                                        thumbnail: '/assets/images/temp/image-thumb-1.png',
                                        url: '/assets/images/temp/image-thumb-1.png',
                                        filename: 'example-academy_thumb_01.jpg',
                                        width: 620,
                                        height: 620
                                    }
                                },
                            ]
                        },
                        {
                            id: 'asdfasdfasdfasdfas',
                            name: 'example-gallery',
                            full_name: 'example-gallery',
                            type: 'image_list',
                            label: 'Gallery',
                            minWidth: 300,
                            minHeight: 300,
                            editable: [
                                {
                                    id: 'cvzxcvzxcvzxcvzxcvzxcvzx',
                                    name: 'description',
                                    full_name: 'description',
                                    type: 'textarea',
                                    label: 'Description',
                                    attr: {
                                        maxlength: 255
                                    }
                                },
                            ],
                            value: [
                                {
                                    id: 'qweasdzxc',
                                    thumbnail: '/assets/images/temp/gallery-thumb-1.png',
                                    url: '/assets/images/temp/gallery-1.png',
                                    filename: 'gallery-1.png',
                                    description: ''
                                },
                                { id: 'sdfgsdfgsdfg', thumbnail: '/assets/images/temp/gallery-thumb-2.png', url: '/assets/images/temp/gallery-2.png', filename: 'gallery-2.png', description: '' },
                                { id: 'ertyertyedfg', thumbnail: '/assets/images/temp/gallery-thumb-3.png', url: '/assets/images/temp/gallery-3.png', filename: 'gallery-3.png', description: 'Целевые требования к активам' },
                                { id: 'xvbxcvbxcvb', thumbnail: '/assets/images/temp/gallery-thumb-4.png', url: '/assets/images/temp/gallery-4.png', filename: 'gallery-4.png', description: 'Целевые требования к активам' },
                                { id: 'asdfasdfas', thumbnail: '/assets/images/temp/gallery-thumb-5.png', url: '/assets/images/temp/gallery-5.png', filename: 'gallery-5.png', description: '' },
                                { id: 'rtyrurtyh', thumbnail: '/assets/images/temp/gallery-thumb-6.png', url: '/assets/images/temp/gallery-6.png', filename: 'gallery-6.png', description: 'Целевые требования к активам' },
                            ]
                        },
                        {
                            id: 'fgdfgsdfgsdfgsdf',
                            name: 'example-date',
                            full_name: 'example-date',
                            type: 'datetime',
                            label: 'Date and time picker',
                            value: '2020-08-13 00:00:00',
                        },
                        {
                            compound: true,
                            attr: {
                                class: 'form-grid-layout form-grid-layout--4',
                            },
                            children: [
                                {
                                    id: 'asfasdfasdfsdfasd',
                                    name: 'example-number',
                                    full_name: 'example-number',
                                    type: 'number',
                                    label: 'Number'
                                },
                                {
                                    id: 'sdfgsdfgfdgsdfgsdf',
                                    name: 'example-percent',
                                    full_name: 'example-percent',
                                    type: 'percent',
                                    label: 'Percent'
                                },
                                {
                                    id: 'asdfasdfasdasdfasdf',
                                    name: 'example-money',
                                    full_name: 'example-money',
                                    type: 'money',
                                    label: 'Money'
                                },
                            ]
                        },
                        {
                            compound: true,
                            attr: {
                                class: 'form-grid-layout form-grid-layout--4',
                            },
                            children: [
                                {
                                    id: 'asdfsfgjsdhfgshdfkgsjd',
                                    name: 'example-choice-1',
                                    full_name: 'example-choice-1',
                                    type: 'choice',
                                    label: 'Author with images',
                                    multiple: false,
                                    placeholder: null,
                                    value: 'bbb',
                                    choices: [
                                        { value: 'aaa', label: 'Lorem ipsum', attr: {'data-image': '/assets/images/temp/select-user.png'} },
                                        { value: 'bbb', label: 'Dolor sit amet', attr: {'data-image': '/assets/images/temp/select-user.png'} },
                                        { value: 'ccc', label: 'Cupidatat culpa', attr: {'data-image': '/assets/images/temp/select-user.png'} }
                                    ]
                                },

                                {
                                    id: 'cvzxcvxzcvzxcvzxcvz',
                                    name: 'example-choice-2',
                                    full_name: 'example-choice-2',
                                    type: 'choice',
                                    label: 'With prefered choices',
                                    multiple: false,
                                    placeholder: null,
                                    value: 'bbb',
                                    preferred_choices: [
                                        { value: 'aaa', label: 'Lorem ipsum', attr: {} },
                                        { value: 'bbb', label: 'Dolor sit amet', attr: {} },
                                        { value: 'ccc', label: 'Cupidatat culpa', attr: {} },
                                    ],
                                    choices: [
                                        { value: 'ddd', label: 'Ea qui exercitation', attr: {} },
                                        { value: 'eee', label: 'Laborum velit', attr: {} },
                                        { value: 'fff', label: 'Cupidatat culpa', attr: {} },
                                        { value: 'ggg', label: 'Cupidatat culpa', attr: {} },
                                    ],
                                },
                                {
                                    id: 'sdfasdfsadfasdfasdfas',
                                    name: 'example-choice-3',
                                    full_name: 'example-choice-3',
                                    type: 'choice',
                                    label: 'Category',
                                    multiple: true,
                                    placeholder: null,
                                    value: ['bbb', 'ccc'],
                                    preferred_choices: [
                                        { value: 'aaa', label: 'Lorem ipsum', attr: {} },
                                        { value: 'bbb', label: 'Dolor sit amet', attr: {} },
                                        { value: 'ccc', label: 'Cupidatat culpa', attr: {} },
                                    ],
                                    choices: [
                                        { value: 'ddd', label: 'Ea qui exercitation', attr: {} },
                                        { value: 'eee', label: 'Laborum velit', attr: {} },
                                        { value: 'fff', label: 'Cupidatat culpa', attr: {} },
                                        { value: 'ggg', label: 'Cupidatat culpa', attr: {} },
                                    ],
                                },
                        },
                        {
                            compound: true,
                            attr: {
                                class: 'form-grid-layout form-grid-layout--4',
                            },
                            children: [
                                {
                                    id: 'sdfgsdfgsdfgsdfgsdfgsd',
                                    name: 'example-switch-1',
                                    full_name: 'example-switch-1',
                                    type: 'switch',
                                    label: 'Switch',
                                    multiple: false,
                                    placeholder: null,
                                    value: 'no',
                                    choices: [
                                        { value: 'no', label: 'No' },
                                        { value: 'yes', label: 'Yes' }
                                    ]
                                },
                                {
                                    id: 'asdfasdfasdfasdfas',
                                    name: 'example-switch-2',
                                    full_name: 'example-switch-2',
                                    type: 'switch',
                                    label: 'Switch',
                                    multiple: false,
                                    placeholder: null,
                                    required: true,
                                    value: '',
                                    choices: [
                                        { value: 'a', label: 'A' },
                                        { value: 'b', label: 'B' },
                                        { value: 'c', label: 'C' },
                                    ]
                                },
                                {
                                    id: 'dfsdfgsdfgsdf',
                                    name: 'example-switch-3',
                                    full_name: 'example-switch-3',
                                    type: 'switch',
                                    label: 'Multiple choices',
                                    multiple: true,
                                    placeholder: null,
                                    value: '',
                                    choices: [
                                        { value: 'a', label: 'A' },
                                        { value: 'b', label: 'B' },
                                        { value: 'c', label: 'C' },
                                    ]
                                },
                            ]
                        },
                    ]
                }) }}

            </div>
            <div class="card__footer">
                {{ submit_widget({'label': 'Update'}) }}
            </div>
        </div></form>
    </div>
{% endblock %}